Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

.circleci/config.yml:

# Config that filters the build jobs: only run new builds for the paths that are changed.
# Runs the continue_config.yml subsequently.
version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# Pipeline parameters for nightly and regular test chain triggers.
parameters:
  run-nightly:
    type: boolean
    default: false
  run-test-chains-regularly:
    type: boolean
    default: false

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset see https://circleci.com/docs/2.0/using-dynamic-configuration/
orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

# Can add multiple workflows in setup since only one of these will run. Otherwise it's not possible: https://support.circleci.com/hc/en-us/articles/360060934851--Max-number-of-workflows-exceeded-error
workflows:
  always-run:
    # Don't run on scheduled pipelines.
    when:
      and:
        - not: << pipeline.parameters.run-nightly >>
        - not: << pipeline.parameters.run-test-chains-regularly >>
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      # runs build-publish-deploy on staging and master.
      - path-filtering/filter:
          filters:
            branches:
              only:
                - staging
                - master
          name: check-updated-files
          # h5ai-nginx without /.* part since it's a submodule. git diff outputs the folder name only, not files under it
          mapping: |
            services/ipfs/.* run-build-ipfs true
            services/s3sync/.* run-build-s3 true
            h5ai-nginx run-build-repository true 
            src/monitor/.* run-build-monitor true
            src/server/.* run-build-server true
            services/core/.* run-build-core true
            services/verification/.* run-build-verification true
            services/validation/.* run-build-validation true
            ui/.* run-build-ui true
            ui-legacy/.* run-build-ui-legacy true
          # Compare against the last build of the branch not the default "main" branch
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/build-publish-deploy.yml
      # Has to run on all branches. Can't regex filter on add-chain-{chainId} branch names see: https://stackoverflow.com/questions/55839004/circleci-regex-filtering-match-within-string
      - continuation/continue:
          configuration_path: .circleci/test-new-chain.yml
      - continuation/continue:
          configuration_path: .circleci/node-build-and-test.yml

  continue-run-nightly:
    when: << pipeline.parameters.run-nightly >>
    jobs:
      - continuation/continue:
          configuration_path: .circleci/nightly.yml

  continue-run-test-chains-regularly:
    when: << pipeline.parameters.run-test-chains-regularly >>
    jobs: 
      - continuation/continue:
          configuration_path: .circleci/test-chains-regularly.yml

Add sourcify-chains types. Change NODE_ADDRESS env
  environments/.env.dev
  environments/.env.latest
  environments/.env.stable
  services/core/src/sourcify-chains.ts
  services/core/src/utils/utils.ts
Due: run-build-core

Fix concat vs push when adding rpcs
  services/core/src/sourcify-chains.ts
Due: run-build-core

Remove first node check, req. tests for CI build
  .circleci/continue_config.yml
  services/core/src/sourcify-chains.ts
  services/verification/src/utils.ts
Due: run-build-core, run-build-verification

Fix CI test run condition
  .circleci/continue_config.yml
Due: none

Fix CI test run condition - 2
  .circleci/continue_config.yml
Due: none

Fix CI test run condition - 3
  .circleci/continue_config.yml
Due: none

first implementation of event-manager logging
  package-lock.json
  package.json
  services/core/package-lock.json
  services/core/package.json
  services/core/src/index.ts
  services/core/src/services/EventManager/index.ts
  services/core/src/services/EventManager/listeners/logger.ts
  services/core/src/services/EventManager/listeners/matchStored.ts
  services/core/src/utils/EventManager.ts
  services/core/src/utils/loggerLoki.ts
  services/loki/docker-compose.yaml
  services/verification/src/services/Injector.ts
  src/server/middlewares/ApiLogging.ts
  src/server/middlewares/GenericErrorHandler.ts
  src/server/server.ts
Due: run-build-server, run-build-core, run-build-verification

improve eventmanager
  services/core/src/services/EventManager/index.ts
  services/core/src/utils/EventManager.ts
Due: run-build-core

added ZetaChain Athens testnet
  services/core/src/chains.json
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

event-manager: error handling
  services/core/src/services/EventManager/index.ts
  services/core/src/services/EventManager/listeners/logger.ts
  src/server/middlewares/ApiLogging.ts
  src/server/middlewares/GenericErrorHandler.ts
Due: run-build-server, run-build-core

event-manager: error handling
  src/server/middlewares/NotFoundError.ts
Due: run-build-server

simulateCreationBytecode with hardcoded const.arg.
  services/verification/package-lock.json
  services/verification/package.json
  services/verification/src/services/Injector.ts
Due: run-build-verification

UI for passing msg.sender, const. args.
  ui/src/components/TextArea/index.tsx
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
  ui/src/types.ts
Due: run-build-ui

Refactor matching to for code reuse
  services/core/src/utils/types.ts
  services/verification/README.md
  services/verification/src/services/Injector.ts
  src/server/controllers/VerificationController.ts
Due: run-build-server, run-build-core, run-build-verification

Fix matching, rename MyRequest, add types
  services/verification/src/services/Injector.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
Due: run-build-server, run-build-verification, run-build-ui

event-manager: replaced all logger info occurrences
  services/core/src/services/EventManager/index.ts
  services/core/src/services/EventManager/listeners/logger.ts
  services/core/src/services/EventManager/listeners/matchStored.ts
  services/core/src/services/FileService.ts
  services/core/src/utils/CheckedContract.ts
  services/core/src/utils/utils.ts
  services/verification/src/services/Injector.ts
  services/verification/src/services/VerificationService.ts
  services/verification/src/utils.ts
  src/monitor/monitor.ts
  src/monitor/pending-contract.ts
  src/monitor/source-fetcher.ts
  src/server/controllers/FileController.ts
  src/server/controllers/VerificationController.ts
  src/server/server.ts
Due: run-build-monitor, run-build-server, run-build-core, run-build-verification

event-manager: remove all occurences of bunyan and logger
  services/core/src/index.ts
  services/core/src/services/EventManager/index.ts
  services/core/src/services/FileService.ts
  services/core/src/sourcify-chains.ts
  services/core/src/utils/logger.ts
  services/validation/src/ValidationService.ts
  services/verification/src/services/Injector.ts
  services/verification/src/services/VerificationService.ts
  src/common/errors/BadRequestError.ts
  src/common/errors/InternalServerError.ts
  src/common/errors/NotFoundError.ts
  src/common/errors/PayloadTooLargeError.ts
  src/common/errors/ValidationError.ts
  src/common/interfaces.ts
  src/config.ts
  src/monitor/monitor.ts
  src/monitor/pending-contract.ts
  src/monitor/source-fetcher.ts
  src/server/controllers/FileController.ts
  src/server/controllers/VerificationController.ts
  src/server/middlewares/NotFoundError.ts
  src/server/routes.ts
Due: run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation

event-manager: restore findByAddress error catcher
  services/verification/src/services/VerificationService.ts
Due: run-build-verification

event-manager: fix tests
  services/core/src/utils/CheckedContract.ts
  services/core/src/utils/loggerLoki.ts
  services/verification/src/utils.ts
Due: run-build-core, run-build-verification

Add contract call decoder (#842)
  packages/contract-call-decoder/.eslintrc.json
  packages/contract-call-decoder/.gitignore
  packages/contract-call-decoder/.prettierignore
  packages/contract-call-decoder/LICENSE
  packages/contract-call-decoder/README.md
  packages/contract-call-decoder/package-lock.json
  packages/contract-call-decoder/package.json
  packages/contract-call-decoder/src/index.ts
  packages/contract-call-decoder/src/lib/ContractCallDecoder.spec.ts
  packages/contract-call-decoder/src/lib/ContractCallDecoder.ts
  packages/contract-call-decoder/src/lib/utils.ts
  packages/contract-call-decoder/tsconfig.json
  packages/contract-call-decoder/tsconfig.module.json
  services/contract-call-decoder/build/index.d.ts
  services/contract-call-decoder/build/index.js
  services/contract-call-decoder/build/index.js.map
Due: none

Added 2nd rpc endpoint
  services/core/src/chains.json
Due: run-build-core

UI for shared const. arg. component
  ui/src/components/ConstructorArguments.tsx
  ui/src/components/InputToggle.tsx
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/Create2Form/index.tsx
  ui/src/types.ts
Due: run-build-ui

reverted chains to chains.json and removed rpc url as requested
  services/core/src/chains.json
  services/core/src/sourcify-chains.ts
Due: run-build-core

IPFS gateway ipfs.io with https protocol
  environments/.env.dev
  test/sourceFetcher.js
Due: none

Validate abi const. args.,
  ui/src/components/ConstructorArguments.tsx
  ui/src/components/InputToggle.tsx
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/Create2Form/index.tsx
Due: run-build-ui

Fix toggle shown when no constructor arguments
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/Create2Form/index.tsx
Due: run-build-ui

Types for const. args, ui-to-server verif.
  services/verification/src/services/Injector.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  ui/src/components/ConstructorArguments.tsx
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/Create2Form/index.tsx
  ui/src/types.ts
Due: run-build-server, run-build-verification, run-build-ui

Add simulation feat. test `/verify`, fix `/verify`
  services/verification/src/services/Injector.ts
  src/server/controllers/VerificationController.ts
  test/helpers/helpers.js
  test/server.js
  test/testcontracts/FactoryImmutable/Child.json
  test/testcontracts/FactoryImmutable/Child_meta.json
  test/testcontracts/FactoryImmutable/Factory.json
  test/testcontracts/FactoryImmutable/FactoryTest.sol
  test/testcontracts/FactoryImmutable/Factory_metadata.json
  ui/src/components/InputToggle.tsx
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
Due: run-build-server, run-build-verification, run-build-ui

Add session cre. code. simulation test
  test/server.js
Due: none

Alwy. return on match, iterate web3[] at scraping
  services/verification/src/services/Injector.ts
  services/verification/src/utils.ts
Due: run-build-verification

add grafana+loki docker
  environments/.env.dev
  environments/.env.latest
  environments/.env.secrets.gpg
  environments/.env.stable
  environments/grafana.yaml
  scripts/find_replace.sh
  scripts/setup.sh
  services/core/src/utils/loggerLoki.ts
  services/loki/docker-compose.yaml
Due: run-build-core

Fix: do library addr replace before checkIfMatch
  services/verification/src/services/Injector.ts
Due: run-build-verification

Change ipfs.io http to https in monitor tests
  test/monitor.js
Due: none

Update environments/.env.stable for GRAFANA_PATH
  environments/.env.stable
Due: none

remove volume declaration in grafana.yaml
  environments/grafana.yaml
Due: none

Store msgSender, legacy test, msgSender test
  services/core/src/utils/types.ts
  services/verification/src/services/Injector.ts
  test/server.js
  test/testcontracts/FactoryImmutable/Child_metadata.json
  test/testcontracts/FactoryImmutableWithMsgSender/Child.json
  test/testcontracts/FactoryImmutableWithMsgSender/Child_metadata.json
  test/testcontracts/FactoryImmutableWithMsgSender/Factory.json
  test/testcontracts/FactoryImmutableWithMsgSender/FactoryTest.sol
  test/testcontracts/FactoryImmutableWithMsgSender/Factory_metadata.json
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
Due: run-build-core, run-build-verification, run-build-ui

Fix lint errors and warnings
  package-lock.json
  services/core/src/utils/CheckedContract.ts
  services/validation/src/ValidationService.ts
  services/verification/package.json
  services/verification/src/services/Injector.ts
Due: run-build-core, run-build-verification, run-build-validation

Fix wrong import
  services/verification/src/services/Injector.ts
Due: run-build-verification

Update services/core/src/sourcify-chains.ts
  services/core/src/sourcify-chains.ts
Due: run-build-core
