Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

.circleci/config.yml:

# Config that filters the build jobs: only run new builds for the paths that are changed.
# Runs the continue_config.yml subsequently.
version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# Pipeline parameters for nightly and regular test chain triggers.
parameters:
  run-nightly:
    type: boolean
    default: false
  run-test-chains-regularly:
    type: boolean
    default: false

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset see https://circleci.com/docs/2.0/using-dynamic-configuration/
orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

# Can add multiple workflows in setup since only one of these will run. Otherwise it's not possible: https://support.circleci.com/hc/en-us/articles/360060934851--Max-number-of-workflows-exceeded-error
workflows:
  always-run:
    # Don't run on scheduled pipelines.
    when:
      and:
        - not: << pipeline.parameters.run-nightly >>
        - not: << pipeline.parameters.run-test-chains-regularly >>
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      # runs build-publish-deploy on staging and master.
      - path-filtering/filter:
          filters:
            branches:
              only:
                - staging
                - master
          name: check-updated-files
          # h5ai-nginx without /.* part since it's a submodule. git diff outputs the folder name only, not files under it
          mapping: |
            services/ipfs/.* run-build-ipfs true
            services/s3sync/.* run-build-s3 true
            h5ai-nginx run-build-repository true 
            src/monitor/.* run-build-monitor true
            src/server/.* run-build-server true
            services/core/.* run-build-core true
            services/verification/.* run-build-verification true
            services/validation/.* run-build-validation true
            ui/.* run-build-ui true
            ui-legacy/.* run-build-ui-legacy true
          # Compare against the last build of the branch not the default "main" branch
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/build-publish-deploy.yml
      # Has to run on all branches. Can't regex filter on add-chain-{chainId} branch names see: https://stackoverflow.com/questions/55839004/circleci-regex-filtering-match-within-string
      - continuation/continue:
          configuration_path: .circleci/test-new-chain.yml
      - continuation/continue:
          configuration_path: .circleci/node-build-and-test.yml

  continue-run-nightly:
    when: << pipeline.parameters.run-nightly >>
    jobs:
      - continuation/continue:
          configuration_path: .circleci/nightly.yml

  continue-run-test-chains-regularly:
    when: << pipeline.parameters.run-test-chains-regularly >>
    jobs: 
      - continuation/continue:
          configuration_path: .circleci/test-chains-regularly.yml

add missing `expect` in tests
  package-lock.json
  package.json
  packages/lib-sourcify/test/functions.spec.ts
  packages/lib-sourcify/test/validation.spec.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: none

update codecov badge for staging
  README.md
  packages/lib-sourcify/README.md
Due: none

fix #951 * overwrite chainId at create2 verification * display create2 verified message in ui
  src/server/controllers/VerificationController.ts
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/Message.tsx
Due: run-build-server, run-build-ui

Choose solc according to platform, save solc-js (#964)
  packages/lib-sourcify/src/lib/solidityCompiler.ts
  packages/lib-sourcify/test/functions.spec.ts
Due: none

Add other Etherscan chains (#959)
  .circleci/nightly.yml
  .vscode/launch.json
  environments/.env.dev
  environments/.env.latest
  environments/.env.secrets.gpg
  environments/.env.stable
  package.json
  packages/contract-call-decoder/src/lib/ContractCallDecoder.ts
  packages/lib-sourcify/src/lib/verification.ts
  scripts/find_replace.sh
  services/s3sync/login_sync_s3.sh
  src/config.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  src/server/server.ts
  src/server/services/VerificationService-util.ts
  src/sourcify-chains.ts
  test/etherscan.js
  test/etherscan/etherscanInstances.js
  test/helpers/assertions.js
  test/helpers/etherscanInstanceContracts.json
  test/helpers/helpers.js
  test/server.js
  ui/src/components/ChainSelect/style.css
  ui/src/components/GitHubBranchSelect/style.css
  ui/src/pages/Verifier/EtherscanInput.tsx
  ui/src/types.ts
Due: run-build-s3, run-build-server, run-build-ui

Fix find_replace.sh typo
  scripts/find_replace.sh
Due: none

fix #843 Add a link to the repo.sourcify.dev address in the UI after successful verification * re-enable component to display already verified triggered while filling the address
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/Message.tsx
Due: run-build-ui

fix #844 checksum address from parameters before handling lookup request
  ui/src/pages/Lookup/index.tsx
Due: run-build-ui

Fix #967 handle 'paris' hardfork update ethereumjs
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/lib/verification.ts
Due: none

Log error on check-s3-backup
  scripts/check-s3-backup.mjs
Due: none

Verify with `immutableReferences` (#973)
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/functions.spec.ts
  packages/lib-sourcify/test/sources/Create2/artifact.json
  packages/lib-sourcify/test/sources/Create2/metadata.json
  packages/lib-sourcify/test/sources/Create2/sources/Wallet.sol
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/verification.spec.ts
  src/server/services/RepositoryService.ts
  test/chains/chain-tests.js
  test/etherscan.js
  test/monitor.js
  test/server.js
Due: run-build-server

Remove readonly solc-js folder
  environments/server.yaml
Due: none

Fix CORS error on req too large (#977)
  src/server/controllers/VerificationController.ts
  src/server/server.ts
Due: run-build-server

Fix ipfs GW double slash `ipfs.io//ipfs/Qm..`
  packages/contract-call-decoder/src/lib/ContractCallDecoder.ts
Due: none

Handle solc links in repo when fetching compiler (#979)
  packages/lib-sourcify/src/lib/solidityCompiler.ts
  packages/lib-sourcify/test/functions.spec.ts
Due: none

fix: auto-scroll to about section (#982)
  ui/src/pages/LandingPage/index.tsx
Due: run-build-ui

Change how addLibraryAddresses replaces the library addresses from the template (#981)
  packages/lib-sourcify/src/lib/verification.ts
Due: none

Disable match with simulation
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: none

Comment out all contextVariables * matchWithSimulation totally commented
  packages/lib-sourcify/README.md
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/verification.spec.ts
  src/monitor/monitor.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  src/server/services/RepositoryService.ts
  src/server/services/VerificationService.ts
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
  ui/src/types.ts
Due: run-build-monitor, run-build-server, run-build-ui

Fix linting problem while creating ui build after commenting out matchWithSimulation
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
Due: run-build-ui

Quick Release (#986)
  packages/lib-sourcify/README.md
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/verification.spec.ts
  src/monitor/monitor.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  src/server/services/RepositoryService.ts
  src/server/services/VerificationService.ts
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
  ui/src/types.ts
Due: run-build-monitor, run-build-server, run-build-ui

Etherscan metadata variations (#976)
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/hashFunctions/ipfsHash.ts
  packages/lib-sourcify/src/lib/hashFunctions/swarmHash.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/validation.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/functions.spec.ts
  packages/lib-sourcify/test/sources/WrongMetadata/SimplyLog.json
  packages/lib-sourcify/test/sources/WrongMetadata/artifact.json
  packages/lib-sourcify/test/sources/WrongMetadata/metadata.json
  packages/lib-sourcify/test/sources/WrongMetadata/sources/SimplyLog.sol
  packages/lib-sourcify/test/verification.spec.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  test/etherscan.js
  test/server.js
Due: run-build-server

fix #989 EventManager fails if listeners are not set
  src/common/EventManager.ts
Due: none

#936 fix how the ui handles non-checksummed addresses (#990)
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
Due: run-build-ui

Add github star button
  ui/src/assets/icons/github.svg
  ui/src/components/Header/index.tsx
Due: run-build-ui

Add chain 999
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Add chain 888
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Change Etherscan chain 43113 test
  test/helpers/etherscanInstanceContracts.json
Due: none

fix #978 reorder the metadata object before generating the variations
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: none

fix #978 add test for not alphabetically sorted metadata
  packages/lib-sourcify/test/sources/StorageUnsortedMetadata/metadata.json
  packages/lib-sourcify/test/verification.spec.ts
Due: none

Update chains.json
  src/chains.json
Due: none

Verification with Standard JSON Input (#980)
  packages/lib-sourcify/src/lib/solidityCompiler.ts
  src/server/controllers/VerificationController.ts
  test/server.js
  test/testcontracts/Storage/StorageJsonInput.json
  ui/src/components/ChainSelect/index.tsx
  ui/src/components/GitHubBranchSelect/index.tsx
  ui/src/components/Toast/index.tsx
  ui/src/components/fuzzySearch.tsx
  ui/src/constants.ts
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
  ui/src/pages/Verifier/ContractInput.tsx
  ui/src/pages/Verifier/EtherscanInput.tsx
  ui/src/pages/Verifier/FileUpload.tsx
  ui/src/pages/Verifier/GitHubInput.tsx
  ui/src/pages/Verifier/SolcJsonInput.tsx
  ui/src/pages/Verifier/index.tsx
Due: run-build-server, run-build-ui

Add chain 7668 - The Root Network Mainnet
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

#860 add the previously removed deprecated chains
  src/sourcify-chains.ts
Due: none

Break contract address str in already verified msg
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/Message.tsx
Due: run-build-ui

Add chain 7672 (#988)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none
