Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

.circleci/config.yml:

# Config that filters the build jobs: only run new builds for the paths that are changed.
# Runs the continue_config.yml subsequently.
version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# Pipeline parameters for nightly and regular test chain triggers.
parameters:
  run-nightly:
    type: boolean
    default: false
  run-test-chains-regularly:
    type: boolean
    default: false

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset see https://circleci.com/docs/2.0/using-dynamic-configuration/
orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

# Can add multiple workflows in setup since only one of these will run. Otherwise it's not possible: https://support.circleci.com/hc/en-us/articles/360060934851--Max-number-of-workflows-exceeded-error
workflows:
  always-run:
    # Don't run on scheduled pipelines.
    when:
      and:
        - not: << pipeline.parameters.run-nightly >>
        - not: << pipeline.parameters.run-test-chains-regularly >>
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      # runs build-publish-deploy on staging and master.
      - path-filtering/filter:
          filters:
            branches:
              only:
                - staging
                - master
          name: check-updated-files
          # h5ai-nginx without /.* part since it's a submodule. git diff outputs the folder name only, not files under it
          mapping: |
            services/ipfs/.* run-build-ipfs true
            services/s3sync/.* run-build-s3 true
            h5ai-nginx run-build-repository true 
            src/monitor/.* run-build-monitor true
            src/server/.* run-build-server true
            services/core/.* run-build-core true
            services/verification/.* run-build-verification true
            services/validation/.* run-build-validation true
            ui/.* run-build-ui true
            ui-legacy/.* run-build-ui-legacy true
          # Compare against the last build of the branch not the default "main" branch
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/build-publish-deploy.yml
      # Has to run on all branches. Can't regex filter on add-chain-{chainId} branch names see: https://stackoverflow.com/questions/55839004/circleci-regex-filtering-match-within-string
      - continuation/continue:
          configuration_path: .circleci/test-new-chain.yml
      - continuation/continue:
          configuration_path: .circleci/node-build-and-test.yml

  continue-run-nightly:
    when: << pipeline.parameters.run-nightly >>
    jobs:
      - continuation/continue:
          configuration_path: .circleci/nightly.yml

  continue-run-test-chains-regularly:
    when: << pipeline.parameters.run-test-chains-regularly >>
    jobs: 
      - continuation/continue:
          configuration_path: .circleci/test-chains-regularly.yml

Allow lerna version on staging only
  lerna.json
Due: none

Add CHANGELOGs
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/contract-call-decoder/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
Due: none

Add monitor to packages
  lerna.json
Due: none

Add dependencies
  services/monitor/package-lock.json
  services/monitor/package.json
Due: none

Simple assemble contract
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  services/monitor/src/ChainMonitor.ts
  services/monitor/src/PendingContract.ts
  services/monitor/src/index.ts
Due: none

Fix repo.sourcify.dev mount path
  environments/repository.yaml
Due: none

fix: prevent IPFS url being included into the response
  src/server/controllers/verification/session-state/session-state.handlers.ts
Due: run-build-server

Trigger deploy with dispatch instead of CircleCI
  .circleci/continue_config.yml
  scripts/deploy.sh
  scripts/trigger_deploy.sh
  src/server/server.ts
Due: run-build-server

Fix deploy script path
  .circleci/continue_config.yml
  src/server/server.ts
Due: run-build-server

Fix script typo
  scripts/trigger_deploy.sh
  src/server/server.ts
Due: run-build-server

Fix $TAG var not persisted in job
  .circleci/continue_config.yml
  src/server/server.ts
Due: run-build-server

Fix env persistance
  scripts/build_and_publish_docker_images.sh
  src/server/server.ts
Due: run-build-server

Remove Bobascan and tests
  environments/.env.dev
  environments/.env.latest
  environments/.env.stable
  scripts/find_replace.sh
  src/config.ts
  test/helpers/etherscanInstanceContracts.json
Due: none

feat: integrate alliance-database * save new verified contracts into the alliance database * track transformations into Matches * // TODO: implement mysql client
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  src/server/controllers/verification/create2/session/create2.session.handlers.ts
  src/server/services/RepositoryService.ts
Due: run-build-server

Write image_sha in build_and_publish scipt
  .circleci/continue_config.yml
  scripts/build_and_publish_docker_images.sh
  scripts/trigger_deploy.sh
Due: none

Fix newline and trigger request body
  scripts/build_and_publish_docker_images.sh
  scripts/trigger_deploy.sh
  src/server/server.ts
Due: run-build-server

Fix container tag on deploy, add ref and sha
  scripts/build_and_publish_docker_images.sh
  scripts/trigger_deploy.sh
  src/server/server.ts
Due: run-build-server

Fix path because of image_sha vs image_tag change.
  .circleci/continue_config.yml
  scripts/build_and_publish_docker_images.sh
  src/server/server.ts
Due: run-build-server

Fox built image hash vs uploaded manifest hash
  scripts/build_and_publish_docker_images.sh
  src/server/server.ts
Due: run-build-server

Revert /health test
  src/server/server.ts
Due: run-build-server

Wait for deploy
  scripts/trigger_deploy.sh
Due: none

Update chains.json
  src/chains.json
Due: none

Support multiple chains e.g. add-chain-111-222-333
  scripts/test_new_chain_support.sh
  test/chains/chain-tests.js
Due: none

Fix deploy sleep auto failing without output
  scripts/trigger_deploy.sh
Due: none

Add New Chain 369 (#1171)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

stats gen: fix for when a partial_match dir doesn't exist for a certain chain
  services/ipfs/server/publish.sh
Due: run-build-ipfs

Make `packages/*` in package.json `workspaces`
  package.json
Due: none

Add `services/*` to package.json `workspaces`
  package.json
Due: none

connection with local alliance database working * refactoring * get createTx for every contract
  package-lock.json
  package.json
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  src/server/services/RepositoryService.ts
  src/server/services/VerificationService-util.ts
  src/server/services/VerificationService.ts
  src/server/services/alliance-database-util.ts
Due: run-build-server

implement types for AllianceDatabase's tables
  packages/lib-sourcify/src/lib/types.ts
  src/server/services/RepositoryService.ts
  src/server/services/VerificationService.ts
  src/server/services/utils/alliance-database-util.ts
  src/server/services/utils/contract-creation-util.ts
Due: run-build-server

Assign package versions
  package-lock.json
  services/monitor/package-lock.json
  services/monitor/package.json
Due: none

store transformations as array
  src/server/services/RepositoryService.ts
  src/server/services/utils/alliance-database-util.ts
Due: run-build-server

Turn off Meter monitoring as it fails
  src/sourcify-chains.ts
Due: none

Throw error on RPC timeout
  packages/lib-sourcify/src/lib/SourcifyChain.ts
Due: none

* implement the compiler output type * store compiler output artifacts into alliance database
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/solidityCompiler.ts
  packages/lib-sourcify/src/lib/types.ts
  src/server/services/RepositoryService.ts
Due: run-build-server

* insert code in alliance database also for updates * improve naming
  packages/lib-sourcify/src/lib/types.ts
  src/server/services/RepositoryService.ts
Due: run-build-server

WIP verify every time with both deployed and creation * replace Match.status with Match.creationMatch and Match.runtimeMatch * get creationTx data every time
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  src/server/controllers/repository/repository.handlers.ts
  src/server/controllers/verification/create2/session/create2.session.handlers.ts
  src/server/controllers/verification/create2/stateless/create2.stateless.handlers.ts
  src/server/controllers/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  src/server/controllers/verification/verification.common.ts
  src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  src/server/services/RepositoryService.ts
  src/server/services/utils/contract-creation-util.ts
Due: run-build-server

add `getContractCreationBytecode` to sourcifyChain * support traces when getting contract creation bytecode
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/verification.ts
  src/server/services/VerificationService.ts
  src/server/services/utils/contract-creation-util.ts
Due: run-build-server
