Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

Fix package-lock.json for @ethereum-sourcify/lib-sourcify
  packages/lib-sourcify/package-lock.json
Due: none

Handle extra-file-input-bug
  packages/lib-sourcify/src/lib/verification.ts
Due: none

refactor input-contract, etherscan-verification
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/solidityCompiler.ts
  packages/lib-sourcify/src/lib/types.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  test/server.js
Due: run-build-server

Refactor create2 verification
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/verification.ts
Due: none

DRY verif. est, add library test
  packages/lib-sourcify/test/sources/Storage/artifact.json
  packages/lib-sourcify/test/sources/Storage/metadata.json
  packages/lib-sourcify/test/sources/Storage/sources/Storage.sol
  packages/lib-sourcify/test/sources/StorageModified/metadata.json
  packages/lib-sourcify/test/sources/StorageModified/sources/StorageModified.sol
  packages/lib-sourcify/test/sources/StorageViaIR/Storage-viaIR.json
  packages/lib-sourcify/test/sources/StorageViaIR/metadata-inliner.json
  packages/lib-sourcify/test/sources/StorageViaIR/sources/Storage.sol
  packages/lib-sourcify/test/sources/UsingLibrary/artifact.json
  packages/lib-sourcify/test/sources/UsingLibrary/metadata.json
  packages/lib-sourcify/test/sources/UsingLibrary/sources/UsingLibrary.sol
  packages/lib-sourcify/test/sources/simple/Storage/Storage.json
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/verification.spec.ts
  test/server.js
Due: none

Add missing bytecode-utils and @types/debug
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/test/verification.spec.ts
Due: none

Add debug types
  services/verification/package-lock.json
  services/verification/package.json
Due: run-build-verification

refactor monitor removing every /core import monitor tests are passing
  .vscode/launch.json
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/utils.ts
  src/common/EventManager.ts
  src/common/SourcifyEventManager/SourcifyEventManager.ts
  src/common/SourcifyEventManager/listeners/logger.ts
  src/common/SourcifyEventManager/listeners/matchStored.ts
  src/common/loggerLoki.ts
  src/common/validators/validators.ts
  src/config.ts
  src/monitor/monitor.ts
  src/monitor/pending-contract.ts
  src/monitor/source-fetcher.ts
  src/server/controllers/FileController.ts
  src/server/controllers/VerificationController-util.ts.old
  src/server/controllers/VerificationController.ts.old
  src/server/middlewares/ApiLogging.ts
  src/server/middlewares/GenericErrorHandler.ts
  src/server/server.ts
  src/server/services/RepositoryService.ts
  src/server/services/VerificationService.ts
  src/sourcify-chains.ts
  test/chains/deployContracts.js
Due: run-build-monitor, run-build-server

Fix RepositoryController class name
  src/server/controllers/RepositoryController.ts
Due: run-build-server

server tests now working after refactoring
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/verification.ts
  src/server/controllers/VerificationController.ts
  test/server.js
  test/testcontracts/Storage/metadataModified.json
Due: run-build-server

Remove refactored endpoints from Verif.old
  src/server/controllers/VerificationController.old.ts
Due: run-build-server

extend timeout for etherscan tests
  test/server.js
Due: none

Update packages, add the first test
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/validation.ts
  packages/lib-sourcify/test/sources/simple/Storage/Storage-viaIR.json
  packages/lib-sourcify/test/sources/simple/Storage/Storage.json
  packages/lib-sourcify/test/sources/simple/Storage/Storage.sol
  packages/lib-sourcify/test/sources/simple/Storage/StorageModified.sol
  packages/lib-sourcify/test/sources/simple/Storage/metadata-inliner.json
  packages/lib-sourcify/test/sources/simple/Storage/metadata.json
  packages/lib-sourcify/test/sources/simple/Storage/metadataModified.json
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: none

Fix duplicate isEmpty in core/CheckedContract
  services/core/src/utils/CheckedContract.ts
Due: run-build-core

Move viaIR test to lib-sourcify
  packages/lib-sourcify/package.json
  packages/lib-sourcify/test/sources/StorageViaIR/artifact.json
  packages/lib-sourcify/test/sources/StorageViaIR/metadata-inliner.json
  packages/lib-sourcify/test/sources/StorageViaIR/metadata.json
  packages/lib-sourcify/test/sources/metadata-inliner.json
  packages/lib-sourcify/test/verification.spec.ts
  test/server.js
Due: none

make session APIs tests succeed
  packages/lib-sourcify/src/lib/verification.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  test/server.js
Due: run-build-server

Add lib-sourcify test, lru-cache types, debug conf
  .vscode/launch.json
  packages/lib-sourcify/.gitignore
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/test/verification.spec.ts
  packages/lib-sourcify/tsconfig.json
Due: none

Refactor RepositoryService/Controller, Eventmanagr
  package-lock.json
  package.json
  src/server/controllers/RepositoryController.ts
  src/server/controllers/new-VerificationController-util.ts
  src/server/controllers/new-VerificationController.ts
  src/server/services/EventManager/EventManager.ts
  src/server/services/EventManager/index.ts
  src/server/services/EventManager/listeners/logger.ts
  src/server/services/EventManager/listeners/matchStored.ts
  src/server/services/EventManager/loggerLoki.ts
  src/server/services/RepositoryService.ts
  src/server/types.ts
  src/sourcify-chains.ts
Due: run-build-server

Store the match in legacyVerifyEndpoint
  src/server/controllers/VerificationController.ts
Due: run-build-server

Remove unused dependency
  packages/lib-sourcify/package.json
Due: none

Rebase: add changes from 417fa4
  src/sourcify-chains.ts
Due: none

Rebase and Sync with d43746, add creatorTx methods
  packages/lib-sourcify/src/lib/solidityCompiler.ts
  packages/lib-sourcify/src/lib/verification.ts
  src/chains.json
  src/common/SourcifyEventManager/SourcifyEventManager.ts
  src/server/services/VerificationService-util.ts
  src/server/services/VerificationService.ts
  src/sourcify-chains.ts
Due: run-build-server

Fix Etherscan regex
  src/sourcify-chains.ts
Due: none

lib-sourcify is now compatible with the browser compilation throws an error
  packages/lib-sourcify/src/lib/solidityCompiler.ts
  packages/lib-sourcify/src/lib/utils.ts
  packages/lib-sourcify/src/lib/validation.ts
Due: none

Fix lib-sourcify outFiles path
  .vscode/launch.json
Due: none

lib-sourcify: replace node-fetch to be compatible with browser builds
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/solidityCompiler.ts
  packages/lib-sourcify/src/lib/utils.ts
  packages/lib-sourcify/tsconfig.json
Due: none

Add README for lib-sourcify
  packages/lib-sourcify/README.md
Due: none

Change build:clean cmd, clean unused cmds
  package.json
Due: none

Don't return match but throw on bytecode mismatch
  package.json
  packages/lib-sourcify/src/lib/verification.ts
  src/server/services/VerificationService.ts
Due: run-build-server

Add chain 641230
  src/sourcify-chains.ts
Due: none

Fix calculating contract address from tx
  packages/lib-sourcify/src/lib/verification.ts
Due: none

Remove unused code
  packages/lib-sourcify/src/lib/verification.ts
Due: none

remove core from lerna.json
  lerna.json
Due: none

Remove unused code
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/validation.ts
Due: none

Revert "lib-sourcify is now compatible with the browser"
  packages/lib-sourcify/src/lib/solidityCompiler.ts
  packages/lib-sourcify/src/lib/utils.ts
  packages/lib-sourcify/src/lib/validation.ts
Due: none

Fix how new contract addr. calculated
  packages/lib-sourcify/src/lib/verification.ts
Due: none

Revert using tx object, use txHash
  packages/lib-sourcify/README.md
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/utils.ts
  src/monitor/monitor.ts
  src/server/services/VerificationService.ts
Due: run-build-monitor, run-build-server

Rebase: sync 20fe18e
  src/chains.json
Due: none

Remove traces of old services/* structure
  .circleci/config.yml
  package-lock.json
  package.json
  scripts/publish_to_npm.sh
  scripts/updateChains.mjs
  src/Dockerfile.monitor
  src/Dockerfile.server
  test/chains/deployContracts.js
  test/monitor.js
Due: none

Path conditions:
  run-build-ipfs: any of: services/ipfs/.*
  run-build-s3: any of: services/s3sync/.*
  run-build-repository: any of: h5ai-nginx
  run-build-monitor: any of: src/monitor/.*
  run-build-server: any of: src/server/.*
  run-build-core: any of: services/core/.*
  run-build-verification: any of: services/verification/.*
  run-build-validation: any of: services/validation/.*
  run-build-ui: any of: ui/.*
  run-build-ui-legacy: any of: ui-legacy/.*
