Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

Update release.md PR template
  .github/PULL_REQUEST_TEMPLATE/release.md
Due: none

Add chain 25925 (Bitkub Chain Testnet) (#1046)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Change Moonbeamscan single conract test
  test/helpers/etherscanInstanceContracts.json
Due: none

add Bitkub chain (96) (#1047)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Add Cronos Chain 25 (#1049)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
  test/chains/sources/25/metadata.json
  test/chains/sources/25/storage.sol
Due: none

add cronoscan in etherscanInstanceContracts tests
  environments/.env.dev
  environments/.env.latest
  environments/.env.secrets.gpg
  environments/.env.stable
  package-lock.json
  scripts/find_replace.sh
  src/config.ts
  test/helpers/etherscanInstanceContracts.json
Due: none

Change trust proxy setting
  src/server/server.ts
Due: run-build-server

Remove deprecated matomo url
  ui/public/index.html
Due: run-build-ui

Change add chain template into single template
  .github/PULL_REQUEST_TEMPLATE/add-new-chain.md
  .github/pull_request_template.md
Due: none

npm install before lerna bootstrap
  .circleci/continue_config.yml
  .circleci/new_branch.yml
  .circleci/nightly.yml
  .circleci/test-chains-regularly.yml
  src/Dockerfile.monitor
  src/Dockerfile.server
Due: none

Update chains.json
  src/chains.json
Due: none

Add Elysium Mainnet chain (#1055)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Add Taiko Alpha-3 (167005)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Update_Chain_1149 (#1057)
  test/chains/chain-tests.js
Due: none

experiment: use openapi files to handle both docs and validators
  openapi.yaml
  package-lock.json
  package.json
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/verification/create2/session/create2.yaml
  src/server/server.ts
Due: run-build-server

example of /verify doc and validation using express-openapi-validator + swagger
  openapi.yaml
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  src/server/controllers/verification/verify/verify.yaml
  src/server/server.ts
Due: run-build-server

refactor solc-json session apis
  openapi.yaml
  src/server/controllers/VerificationController.ts
  src/server/controllers/verification/common.ts
  src/server/controllers/verification/solc-json/session/solc-json.session.handlers.ts
  src/server/controllers/verification/solc-json/session/solc-json.session.paths.yaml
  src/server/controllers/verification/solc-json/session/solc-json.session.routes.ts
  src/server/controllers/verification/solc-json/solc-json.routes.ts
  src/server/controllers/verification/solc-json/stateless/solc-json.stateless.routes.ts
  src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
  src/server/controllers/verification/verify/verify.routes.ts
  src/server/routes.ts
Due: run-build-server

handle alternative routes paths with redirects
  openapi.yaml
  src/server/controllers/verification/verify/stateless/_verify.stateless.paths.yaml
  src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
  src/server/controllers/verification/verify/stateless/verify.stateless.routes.ts
Due: run-build-server

add missing clientToken to create2 routes
  src/server/controllers/verification/create2/session/create2.session.paths.yaml
  src/server/controllers/verification/create2/stateless/create2.stateless.paths.yaml
Due: run-build-server

refactor session state routes
  openapi.yaml
  src/server/controllers/VerificationController.ts
  src/server/controllers/verification/common.ts
  src/server/controllers/verification/session-state/clear.session-state.paths.yaml
  src/server/controllers/verification/session-state/data.session-state.paths.yaml
  src/server/controllers/verification/session-state/session-state.handlers.ts
  src/server/controllers/verification/session-state/session-state.routes.ts
  src/server/controllers/verification/verify/session/verify.session.handlers.ts
  src/server/controllers/verification/verify/session/verify.session.paths.yaml
  src/server/controllers/verification/verify/session/verify.session.routes.ts
  src/server/controllers/verification/verify/stateless/verify.stateless.routes.ts
  src/server/controllers/verification/verify/verify.routes.ts
  src/server/routes.ts
Due: run-build-server

refactoring of solc-json stateless
  src/server/controllers/VerificationController.ts
  src/server/controllers/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  src/server/controllers/verification/solc-json/stateless/solc-json.stateless.routes.ts
  src/server/controllers/verification/verify/stateless/verify.stateless.routes.ts
  src/server/routes.ts
Due: run-build-server

Update check-all-by-addresses API doc
  src/server/controllers/repository/check-all-by-addresses.stateless.paths.yaml
Due: run-build-server

extract check-by apis parameters from query
  src/server/controllers/repository/repository.handlers.ts
Due: run-build-server

refactor testartifacts routes
  src/server/controllers/TestArtifactsController.ts
  src/server/controllers/controllers.common.ts
  src/server/controllers/testartifacts/testartifacts.handlers.ts
  src/server/controllers/testartifacts/testartifacts.routes.ts
  src/server/controllers/verification/verification.common.ts
  src/server/routes.ts
Due: run-build-server

refactoring repository routes
  .gitignore
  openapi.yaml
  src/server/controllers/RepositoryController.ts
  src/server/controllers/repository/repository.handlers.ts
  src/server/controllers/repository/repository.routes.ts
  src/server/controllers/repository/verify.stateless.paths.yaml
  src/server/controllers/verification/create2/session/create2.session.paths.yaml
  src/server/controllers/verification/create2/stateless/create2.stateless.paths.yaml
  src/server/routes.ts
Due: run-build-server

refactor etherscan routes
  openapi.yaml
  src/server/common.ts
  src/server/controllers/RepositoryController.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  src/server/controllers/verification/create2/session/create2.session.handlers.ts
  src/server/controllers/verification/create2/session/create2.session.routes.ts
  src/server/controllers/verification/create2/stateless/create2.stateless.handlers.ts
  src/server/controllers/verification/create2/stateless/create2.stateless.routes.ts
  src/server/controllers/verification/etherscan/etherscan.common.ts
  src/server/controllers/verification/etherscan/etherscan.routes.ts
  src/server/controllers/verification/etherscan/session/etherscan.session.handlers.ts
  src/server/controllers/verification/etherscan/session/etherscan.session.paths.yaml
  src/server/controllers/verification/etherscan/session/etherscan.session.routes.ts
  src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  src/server/controllers/verification/etherscan/stateless/etherscan.stateless.paths.yaml
  src/server/controllers/verification/etherscan/stateless/etherscan.stateless.routes.ts
  src/server/controllers/verification/session-state/session-state.handlers.ts
  src/server/controllers/verification/session-state/session-state.routes.ts
  src/server/controllers/verification/solc-json/session/solc-json.session.handlers.ts
  src/server/controllers/verification/solc-json/session/solc-json.session.routes.ts
  src/server/controllers/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  src/server/controllers/verification/verification.common.ts
  src/server/controllers/verification/verify/session/verify.session.handlers.ts
  src/server/controllers/verification/verify/session/verify.session.routes.ts
  src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  src/server/controllers/verification/verify/stateless/verify.stateless.routes.ts
  src/server/routes.ts
  src/server/server.ts
Due: run-build-server

validate chainsIds in checkbyaddresses
  src/server/controllers/repository/check-all-by-addresses.stateless.paths.yaml
  src/server/controllers/repository/check-by-addresses.stateless.paths.yaml
  src/server/server.ts
  src/sourcify-chains.ts
Due: run-build-server

fix import MAX_SESSION_SIZE in server tests
  test/server.js
Due: none

controller refactoring * services as instantiated global variable * first new filesystem proposal * add /verify and / routes, not working together * add /verify/solc-json, need to complete
  openapi.yaml
  package-lock.json
  package.json
  src/monitor/monitor.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  src/server/controllers/verification/common.ts
  src/server/controllers/verification/solc-json/stateless/solc-json.stateless.paths.yaml
  src/server/controllers/verification/verify/stateless/_verify.stateless.paths.yaml
  src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
  src/server/controllers/verification/verify/stateless/verify.stateless.routes.ts
  src/server/controllers/verification/verify/verify.yaml
  src/server/routes.ts
  src/server/server.ts
  src/server/services/RepositoryService.ts
  src/server/services/VerificationService.ts
  test/monitor.js
Due: run-build-monitor, run-build-server

tests running in refactoring
  src/server/controllers/verification/solc-json/session/solc-json.session.paths.yaml
  src/server/controllers/verification/verify/session/verify.session.paths.yaml
  src/server/controllers/verification/verify/session/verify.session.routes.ts
  src/server/server.ts
  test/server.js
Due: run-build-server

add all repository openapi declarations
  openapi.yaml
  src/server/controllers/repository/check-all-by-addresses.stateless.paths.yaml
  src/server/controllers/repository/check-by-addresses.stateless.paths.yaml
  src/server/controllers/repository/get-contract-addresses-all.stateless.paths.yaml
  src/server/controllers/repository/get-file-static.stateless.paths.yaml
  src/server/controllers/repository/get-file-tree-all.stateless.paths.yaml
  src/server/controllers/repository/get-file-tree-full.stateless.paths.yaml
  src/server/controllers/repository/get-source-files-all.stateless.paths.yaml
  src/server/controllers/repository/get-source-files-full.stateless.paths.yaml
  src/server/controllers/repository/tree-any.stateless.paths.yaml
Due: run-build-server

refactor create2 verification
  openapi.yaml
  src/server/controllers/VerificationController.ts
  src/server/controllers/verification/common.ts
  src/server/controllers/verification/create2/create2.common.ts
  src/server/controllers/verification/create2/create2.routes.ts
  src/server/controllers/verification/create2/session/compile.create2.session.paths.yaml
  src/server/controllers/verification/create2/session/create2.session.handlers.ts
  src/server/controllers/verification/create2/session/create2.session.paths.yaml
  src/server/controllers/verification/create2/session/create2.session.routes.ts
  src/server/controllers/verification/create2/session/create2.yaml
  src/server/controllers/verification/create2/stateless/create2.stateless.handlers.ts
  src/server/controllers/verification/create2/stateless/create2.stateless.paths.yaml
  src/server/controllers/verification/create2/stateless/create2.stateless.routes.ts
  src/server/routes.ts
Due: run-build-server

add missing /session/input-files openapi spec
  openapi.yaml
  src/server/controllers/verification/session-state/input-files.session-state.paths.yaml
Due: run-build-server

remove RepositoryController and BaseController classes
  src/server/controllers/BaseController.ts
  src/server/controllers/RepositoryController.ts
Due: run-build-server

fix handling of deprecated routes
  openapi.yaml
  src/server/controllers/repository/get-file-static.stateless.paths.yaml
  src/server/controllers/repository/repository.routes.ts
  src/server/controllers/verification/session-state/session-state.routes.ts
  src/server/controllers/verification/verify/session/verify.session.routes.ts
  src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
  src/server/controllers/verification/verify/stateless/verify.stateless.routes.ts
  src/server/deprecated.routes.ts
  src/server/server.ts
Due: run-build-server

add all the responses to the openapi specs
  src/server/controllers/repository/check-all-by-addresses.stateless.paths.yaml
  src/server/controllers/repository/check-by-addresses.stateless.paths.yaml
  src/server/controllers/repository/get-contract-addresses-all.stateless.paths.yaml
  src/server/controllers/repository/get-file-static.stateless.paths.yaml
  src/server/controllers/repository/get-file-tree-all.stateless.paths.yaml
  src/server/controllers/repository/get-file-tree-full.stateless.paths.yaml
  src/server/controllers/repository/get-source-files-all.stateless.paths.yaml
  src/server/controllers/repository/get-source-files-full.stateless.paths.yaml
  src/server/controllers/verification/create2/session/compile.create2.session.paths.yaml
  src/server/controllers/verification/create2/session/create2.session.paths.yaml
  src/server/controllers/verification/create2/stateless/create2.stateless.paths.yaml
  src/server/controllers/verification/etherscan/session/etherscan.session.paths.yaml
  src/server/controllers/verification/etherscan/stateless/etherscan.stateless.paths.yaml
  src/server/controllers/verification/session-state/clear.session-state.paths.yaml
  src/server/controllers/verification/session-state/data.session-state.paths.yaml
  src/server/controllers/verification/session-state/input-contract.session-state.paths.yaml
  src/server/controllers/verification/session-state/input-files.session-state.paths.yaml
  src/server/controllers/verification/solc-json/session/solc-json.session.paths.yaml
  src/server/controllers/verification/solc-json/stateless/solc-json.stateless.paths.yaml
  src/server/controllers/verification/verify/session/verify.session.paths.yaml
Due: run-build-server

fix most of tests after refactoring * restore express-fileupload * fix redirect not working for /
  src/server/controllers/verification/create2/stateless/create2.stateless.handlers.ts
  src/server/controllers/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  src/server/controllers/verification/solc-json/stateless/solc-json.stateless.paths.yaml
  src/server/controllers/verification/verification.common.ts
  src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
  src/server/controllers/verification/verify/stateless/verify.stateless.routes.ts
  src/server/server.ts
  test/helpers/assertions.js
  test/server.js
Due: run-build-server

* move services in a separate global object * fix create2 openapis
  src/monitor/monitor.ts
  src/server/common.ts
  src/server/controllers/repository/repository.handlers.ts
  src/server/controllers/repository/repository.routes.ts
  src/server/controllers/verification/create2/session/create2.session.handlers.ts
  src/server/controllers/verification/create2/session/create2.session.paths.yaml
  src/server/controllers/verification/create2/stateless/create2.stateless.handlers.ts
  src/server/controllers/verification/create2/stateless/create2.stateless.paths.yaml
  src/server/controllers/verification/etherscan/session/etherscan.session.handlers.ts
  src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  src/server/controllers/verification/session-state/input-contract.session-state.paths.yaml
  src/server/controllers/verification/session-state/session-state.handlers.ts
  src/server/controllers/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  src/server/controllers/verification/verify/session/verify.session.handlers.ts
  src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  src/server/server.ts
  src/server/services/RepositoryService.ts
  src/server/services/VerificationService.ts
  src/server/services/services.ts
Due: run-build-monitor, run-build-server

disable test's ipfs gateway
  test/etherscan.js
  test/server.js
Due: none

refactoring: handle all deprecated routes
  src/server/controllers/repository/repository.routes.ts
  src/server/controllers/verification/session-state/session-state.routes.ts
  src/server/controllers/verification/verify/session/verify.session.routes.ts
  src/server/controllers/verification/verify/stateless/verify.stateless.routes.ts
  src/server/deprecated.routes.ts
  src/server/server.ts
Due: run-build-server

Path conditions:
  run-build-ipfs: any of: services/ipfs/.*
  run-build-s3: any of: services/s3sync/.*
  run-build-repository: any of: h5ai-nginx
  run-build-monitor: any of: src/monitor/.*
  run-build-server: any of: src/server/.*
  run-build-core: any of: services/core/.*
  run-build-verification: any of: services/verification/.*
  run-build-validation: any of: services/validation/.*
  run-build-ui: any of: ui/.*
  run-build-ui-legacy: any of: ui-legacy/.*
