Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

.circleci/config.yml:

# Config that filters the build jobs: only run new builds for the paths that are changed.
# Runs the continue_config.yml subsequently.
version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset see https://circleci.com/docs/2.0/using-dynamic-configuration/
orbs:
  path-filtering: circleci/path-filtering@0.1.1

# Define the e2e tests here too for nigthly builds. (Can this be refactored?)
aliases:
  - &monitor-e2e-base
    working_directory: ~/source-verify
    steps:
      - checkout
      - run:
          name: install node-fetch dotenv
          command: npm install node-fetch dotenv
      - run:
          name: monitor test
          command: ./scripts/monitor_ci.sh
          no_output_timeout: 30m
    docker:
      - image: cimg/node:16.15
  - &verification-e2e-base
    working_directory: ~/source-verify
    steps:
      - checkout
      - run:
          name: install dotenv
          command: npm install dotenv
      - run:
          name: verification test
          command: ./scripts/verification-e2e.sh
    docker:
      - image: cimg/node:16.15

# Define the e2e tests here too for nigthly builds. (Can this be refactored?)
jobs:
  monitor-e2e-rinkeby:
    <<: *monitor-e2e-base
    environment:
      CHAIN_ID: 4
      CHAIN_NAME: rinkeby
  monitor-e2e-goerli:
    <<: *monitor-e2e-base
    environment:
      CHAIN_ID: 5
      CHAIN_NAME: goerli
  verification-e2e-rinkeby:
    <<: *verification-e2e-base
    environment:
      CHAIN_ID: 4
      CHAIN_NAME: rinkeby
  verification-e2e-goerli:
    <<: *verification-e2e-base
    environment:
      CHAIN_ID: 5
      CHAIN_NAME: goerli

workflows:
  filter-builds:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # h5ai-nginx without /.* part since it's a submodule. git diff outputs the folder name only, not files under it
          mapping: |
            services/ipfs/.* run-build-ipfs true
            services/s3sync/.* run-build-s3 true
            h5ai-nginx run-build-repository true 
            src/monitor/.* run-build-monitor true
            src/server/.* run-build-server true
            services/core/.* run-build-core true
            services/verification/.* run-build-verification true
            services/validation/.* run-build-validation true
            ui/.* run-build-ui true
            ui-legacy/.* run-build-ui-legacy true
          # Compare against the last build of the branch not the default "main" branch
          # TODO: Check if the correct revision will be taken on both master and staging?
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/continue_config.yml
  nightly:
    triggers:
      - schedule:
          cron: "0 1 * * *" # 1am UTC
          filters:
            branches:
              only:
                - master
    jobs:
      - monitor-e2e-rinkeby
      - monitor-e2e-goerli
      - verification-e2e-rinkeby
      - verification-e2e-goerli

Fix invalid config, schedule nightly and test-chains-reg.
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

nightly typo, dont build on scheduled or when no change
  .circleci/continue_config.yml
Due: none

Add Support for XDC Apothem/TestNet Network
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

Don't init ipfs on restart
  services/ipfs/Dockerfile.ipfs
  services/ipfs/entrypoint.sh
  services/ipfs/init-config.sh
Due: run-build-ipfs

Fetch TxHash data from BlocksScan Explorer. - fix chainId - update regex BlocksScan - fix immutable test
  services/core/src/sourcify-chains.ts
  services/verification/src/services/Injector.ts
  services/verification/src/utils.ts
Due: run-build-core, run-build-verification

Add pipeline parameters to config.yml for triggers
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Modular CI configs
  .circleci/build-publish-deploy.yml
  .circleci/config.yml
  .circleci/e2e-tests.yml
  .circleci/nightly.yml
  .circleci/test-chains-regularly.yml
Due: none

Fix continuation config paths
  .circleci/build-publish-deploy.yml
  .circleci/config.yml
  .circleci/nightly.yml
Due: none

Add pipl. param. definitions
  .circleci/nightly.yml
  .circleci/test-chains-regularly.yml
Due: none

Modularize all CI workflows
  .circleci/build-publish-deploy.yml
  .circleci/config.yml
  .circleci/nightly.yml
  .circleci/node-build-and-test.yml
  .circleci/test-chains-regularly.yml
  .circleci/test-new-chain.yml
Due: none

Fix max. number of workflows in setup config
  .circleci/config.yml
Due: none

Fix multiple setup configs
  .circleci/build-publish-deploy.yml
  .circleci/config.yml
  .circleci/e2e-tests.yml
  .circleci/nightly.yml
Due: none

Revert to less modular structure
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/nightly.yml
  .circleci/node-build-and-test.yml
  .circleci/test-new-chain.yml
Due: none

Hotfix for nightly and regular chain tests (#771)
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/nightly.yml
  .circleci/test-chains-regularly.yml
Due: none

Fix new branch CI failing
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/new_branch.yml
Due: none

Add chain 420 (#773)
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

Init verify-from-etherscan
  environments/.env.latest
  environments/.env.secrets.gpg
  scripts/find_replace.sh
  services/verification/src/services/VerificationService.ts
  services/verification/src/utils.ts
  src/config.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
Due: run-build-server, run-build-verification

Fix async rimraf delete. Don't store /ipfs/Qm...
  services/core/src/services/FileService.ts
  services/verification/src/services/Injector.ts
Due: run-build-core, run-build-verification

Show number of files added in UI
  test/monitor.js
  ui/src/pages/Verifier/FileUpload.tsx
Due: run-build-ui

Fix eth-brownie output malformed metadata
  services/validation/src/ValidationService.ts
Due: run-build-validation

"inject call" in the verify-from-etherscan service
  services/verification/src/services/VerificationService.ts
  src/server/controllers/VerificationController.ts
Due: run-build-server, run-build-verification

Pin all files
  services/ipfs/entrypoint.sh
  services/ipfs/init-config.sh
Due: run-build-ipfs

Remote pinning services
  environments/.env.latest
  environments/.env.secrets.gpg
  environments/.env.stable
  scripts/find_replace.sh
  services/ipfs/entrypoint.sh
  services/ipfs/init-config.sh
  services/ipfs/publish.sh
Due: run-build-ipfs

Fix AWS_S3 keys
  environments/.env.dev
  environments/.env.stable
  environments/.env.testing
Due: none

Fix validation test after isMetadata output change
  services/validation/src/ValidationService.ts
  services/validation/test/expected-output/multiple-targets.txt
  services/validation/test/files/metadata-multiple-targets.json
Due: run-build-validation

Fix leaked staging pinning keys
  environments/.env.latest
  environments/.env.secrets.gpg
  environments/.env.stable
Due: none

refactors verifiFromEtherscan function
  services/core/src/utils/types.ts
  services/verification/src/services/VerificationService.ts
  src/server/controllers/VerificationController.ts
Due: run-build-server, run-build-core, run-build-verification

implement verifyFromEtherscan using session
  src/server/controllers/VerificationController.ts
Due: run-build-server

add import from etherscan in the Verify page
  src/server/controllers/VerificationController.ts
  ui/src/constants.ts
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
  ui/src/pages/Verifier/EtherscanInput.tsx
  ui/src/pages/Verifier/FileUpload.tsx
Due: run-build-server, run-build-ui

add network selector for etherscan verification
  ui/src/components/NetworkSelect/index.tsx
  ui/src/pages/Verifier/EtherscanInput.tsx
Due: run-build-ui

Change IPNS to DNSLink
  environments/.env.latest
  environments/.env.stable
  ui/.env.development
Due: run-build-ui

Update chains.json
  services/core/src/chains.json
Due: run-build-core

Add godwoken mainnet (#774)
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
  test/chains/deployContracts.js
Due: run-build-core

Don't useLiteralContent, contractPath
  environments/.env.stable
  services/verification/src/services/VerificationService.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
Due: run-build-server, run-build-verification

Style network select, rename network to chain
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  ui/src/components/ChainSelect/index.tsx
  ui/src/components/ChainSelect/style.css
  ui/src/components/Input/index.tsx
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
  ui/src/pages/Verifier/EtherscanInput.tsx
Due: run-build-server, run-build-ui

Add sepolia tests
  .circleci/continue_config.yml
  .circleci/nightly.yml
Due: none

Fix def. branch change breaking chain test result
  src/server/controllers/TestArtifactsController.ts
Due: run-build-server

Fix sepolia chain id converted to sci. notation
  .circleci/continue_config.yml
Due: none

Fix not working in ipfs crontab
  services/ipfs/entrypoint.sh
Due: run-build-ipfs
