Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

.circleci/config.yml:

# Config that filters the build jobs: only run new builds for the paths that are changed.
# Runs the continue_config.yml subsequently.
version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# Pipeline parameters for nightly and regular test chain triggers.
parameters:
  run-nightly:
    type: boolean
    default: false
  run-test-chains-regularly:
    type: boolean
    default: false

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset see https://circleci.com/docs/2.0/using-dynamic-configuration/
orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

# Can add multiple workflows in setup since only one of these will run. Otherwise it's not possible: https://support.circleci.com/hc/en-us/articles/360060934851--Max-number-of-workflows-exceeded-error
workflows:
  always-run:
    # Don't run on scheduled pipelines.
    when:
      and:
        - not: << pipeline.parameters.run-nightly >>
        - not: << pipeline.parameters.run-test-chains-regularly >>
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      # runs build-publish-deploy on staging and master.
      - path-filtering/filter:
          filters:
            branches:
              only:
                - staging
                - master
          name: check-updated-files
          # h5ai-nginx without /.* part since it's a submodule. git diff outputs the folder name only, not files under it
          mapping: |
            services/ipfs/.* run-build-ipfs true
            services/s3sync/.* run-build-s3 true
            h5ai-nginx run-build-repository true 
            src/monitor/.* run-build-monitor true
            src/server/.* run-build-server true
            services/core/.* run-build-core true
            services/verification/.* run-build-verification true
            services/validation/.* run-build-validation true
            ui/.* run-build-ui true
            ui-legacy/.* run-build-ui-legacy true
          # Compare against the last build of the branch not the default "main" branch
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/build-publish-deploy.yml
      # Has to run on all branches. Can't regex filter on add-chain-{chainId} branch names see: https://stackoverflow.com/questions/55839004/circleci-regex-filtering-match-within-string
      - continuation/continue:
          configuration_path: .circleci/test-new-chain.yml
      - continuation/continue:
          configuration_path: .circleci/node-build-and-test.yml

  continue-run-nightly:
    when: << pipeline.parameters.run-nightly >>
    jobs:
      - continuation/continue:
          configuration_path: .circleci/nightly.yml

  continue-run-test-chains-regularly:
    when: << pipeline.parameters.run-test-chains-regularly >>
    jobs: 
      - continuation/continue:
          configuration_path: .circleci/test-chains-regularly.yml

do not double check the creatorTx outside lib-sourcify
  packages/lib-sourcify/src/lib/verification.ts
  src/server/services/utils/contract-creation-util.ts
Due: run-build-server

implement ResponseMatch interface for server responses
  src/server/common.ts
  src/server/controllers/verification/create2/stateless/create2.stateless.handlers.ts
  src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  src/server/controllers/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  src/server/controllers/verification/verification.common.ts
  src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  src/server/services/RepositoryService.ts
Due: run-build-server

fix lib-sourcify and server tests - monitor tests are not working
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/functions.spec.ts
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/verification.spec.ts
  src/server/common.ts
  src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  src/server/services/RepositoryService.ts
  test/server.js
Due: run-build-server

* rename metadata transformation to auxadata * log AllianceDatabase errors without throwing
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  src/server/services/RepositoryService.ts
Due: run-build-server

fix linting
  src/server/services/RepositoryService.ts
  src/server/services/utils/alliance-database-util.ts
  src/server/services/utils/contract-creation-util.ts
Due: run-build-server

Send to local Sourcify server
  services/monitor/src/ChainMonitor.ts
  services/monitor/src/PendingContract.ts
  services/monitor/src/index.ts
Due: none

implement flow for adding verified contracts into AllianceDatabase
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  src/server/services/RepositoryService.ts
  src/server/services/utils/alliance-database-util.ts
Due: run-build-server

Move sending contract to PendingContract
  services/monitor/src/ChainMonitor.ts
  services/monitor/src/PendingContract.ts
Due: none

clean "better match" case in `addToAllianceDatabase`
  src/server/services/RepositoryService.ts
Due: run-build-server

Add chain 2038 (#1168)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
  test/chains/sources/2038/multicall3.metadata.json
Due: none

Add chain 2044
  src/sourcify-chains.ts
  test/chains/chain-tests.js
  test/chains/sources/2044/multicall3.metadata.json
Due: none

Use dotenv, don't log as error, types
  package-lock.json
  services/monitor/.env-template
  services/monitor/package.json
  services/monitor/src/ChainMonitor.ts
  services/monitor/src/GatewayFetcher.ts
  services/monitor/src/Monitor.ts
  services/monitor/src/PendingContract.ts
  services/monitor/src/index.ts
Due: none

Add GW timeout
  services/monitor/.env-template
  services/monitor/src/DecentralizedStorageFetcher.ts
  services/monitor/src/GatewayFetcher.ts
  services/monitor/src/Monitor.ts
Due: none

Don't log.error when can't assemble
  services/monitor/src/ChainMonitor.ts
  services/monitor/src/DecentralizedStorageFetcher.ts
  services/monitor/src/index.ts
  services/monitor/src/logger.ts
Due: none

Log when metadata couldn't be fetched
  services/monitor/src/PendingContract.ts
Due: none

Remove comments
  services/monitor/src/PendingContract.ts
Due: none

Remove monitored: true, set up CLI and config
  .github/pull_request_template.md
  package-lock.json
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/test/verification.spec.ts
  services/monitor/.env-template
  services/monitor/chains.json
  services/monitor/package.json
  services/monitor/src/ChainMonitor.ts
  services/monitor/src/Monitor.ts
  services/monitor/src/index.ts
  services/monitor/src/types.ts
  src/server/server.ts
  src/sourcify-chains.ts
  ui/src/types.ts
Due: run-build-server, run-build-ui

Pass Infura and Alchemy API keys
  services/monitor/.env.template
  services/monitor/src/Monitor.ts
Due: none

Add chain 9996 9977(Mind Chain) (#1181)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Authenticate ethpandaops.io
  services/monitor/.env.template
  services/monitor/src/Monitor.ts
Due: none

INFURA_ and ALCHEMY_ID to _API_KEY for consistency
  environments/.env.dev
  environments/.env.latest
  environments/.env.stable
  scripts/find_replace.sh
  src/server/server.ts
  src/sourcify-chains.ts
Due: run-build-server

Add current monitored chains
  services/monitor/chains.json
Due: none

implement generating auxdata information: offset and value * use recompile and diff + auxdata in legacyAssembly
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  src/server/services/RepositoryService.ts
Due: run-build-server

nvmrc dockerignore, new Dockerfile
  services/monitor/.dockerignore
  services/monitor/.nvmrc
  services/monitor/Dockerfile
  services/monitor/Dockerfile.monitor
Due: none

Remove AbortController as dependency
  services/monitor/src/GatewayFetcher.ts
Due: none

Add missing @types packages
  services/monitor/package.json
Due: none

Remove monitor package-lock b.c. of npm workspaces
  package-lock.json
  services/monitor/package-lock.json
Due: none

Fix Dockerfile
  services/monitor/Dockerfile
Due: none

Add Monitor README
  services/monitor/README.md
Due: none

Remove jest in ui
  ui/package-lock.json
  ui/package.json
Due: run-build-ui

Delete lib-sourcify -lock, add mocha to monitor
  package-lock.json
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/tsconfig.json
  services/monitor/package.json
Due: none

Add optional types in Monitor
  services/monitor/src/ChainMonitor.ts
  services/monitor/src/Monitor.ts
  services/monitor/src/types.ts
Due: none

Monitor tests init
  services/monitor/test/Monitor.test.ts
Due: none

Use node-fetch instead of fetch to mock with nock
  services/monitor/src/PendingContract.ts
Due: none

Add deploy and monitor test
  package-lock.json
  services/monitor/package.json
  services/monitor/test/Monitor.test.ts
  services/monitor/test/helpers.ts
  services/monitor/test/sources/Storage/1_Storage.json
  services/monitor/test/sources/Storage/1_Storage.metadata.json
  services/monitor/test/sources/Storage/1_Storage.sol
Due: none

Stop ChainMonitors
  services/monitor/src/ChainMonitor.ts
Due: none

VSCode debug for Monitor test
  .vscode/launch.json
Due: none

Don't ask lastblock if startBlock is provided
  services/monitor/src/ChainMonitor.ts
Due: none

Better log in Monitor and ChainMonitor
  services/monitor/package.json
  services/monitor/src/ChainMonitor.ts
  services/monitor/src/Monitor.ts
Due: none

Test monitor by nock interception
  services/monitor/test/Monitor.test.ts
  services/monitor/test/helpers.ts
  services/monitor/test/testLogger.ts
Due: none
