Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

.circleci/config.yml:

# Config that filters the build jobs: only run new builds for the paths that are changed.
# Runs the continue_config.yml subsequently.
version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# Pipeline parameters for nightly and regular test chain triggers.
parameters:
  run-nightly:
    type: boolean
    default: false
  run-test-chains-regularly:
    type: boolean
    default: false

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset see https://circleci.com/docs/2.0/using-dynamic-configuration/
orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

# Can add multiple workflows in setup since only one of these will run. Otherwise it's not possible: https://support.circleci.com/hc/en-us/articles/360060934851--Max-number-of-workflows-exceeded-error
workflows:
  always-run:
    # Don't run on scheduled pipelines.
    when:
      and:
        - not: << pipeline.parameters.run-nightly >>
        - not: << pipeline.parameters.run-test-chains-regularly >>
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      # runs build-publish-deploy on staging and master.
      - path-filtering/filter:
          filters:
            branches:
              only:
                - staging
                - master
          name: check-updated-files
          # h5ai-nginx without /.* part since it's a submodule. git diff outputs the folder name only, not files under it
          mapping: |
            services/ipfs/.* run-build-ipfs true
            services/s3sync/.* run-build-s3 true
            h5ai-nginx run-build-repository true 
            src/monitor/.* run-build-monitor true
            src/server/.* run-build-server true
            services/core/.* run-build-core true
            services/verification/.* run-build-verification true
            services/validation/.* run-build-validation true
            ui/.* run-build-ui true
            ui-legacy/.* run-build-ui-legacy true
          # Compare against the last build of the branch not the default "main" branch
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/build-publish-deploy.yml
      # Has to run on all branches. Can't regex filter on add-chain-{chainId} branch names see: https://stackoverflow.com/questions/55839004/circleci-regex-filtering-match-within-string
      - continuation/continue:
          configuration_path: .circleci/test-new-chain.yml
      - continuation/continue:
          configuration_path: .circleci/node-build-and-test.yml

  continue-run-nightly:
    when: << pipeline.parameters.run-nightly >>
    jobs:
      - continuation/continue:
          configuration_path: .circleci/nightly.yml

  continue-run-test-chains-regularly:
    when: << pipeline.parameters.run-test-chains-regularly >>
    jobs: 
      - continuation/continue:
          configuration_path: .circleci/test-chains-regularly.yml

fix linting errors after refactoring
  package-lock.json
  package.json
  src/server/server.ts
Due: run-build-server

fix etherscan tests
  src/server/controllers/verification/etherscan/session/etherscan.session.handlers.ts
  src/server/controllers/verification/etherscan/session/etherscan.session.paths.yaml
  src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  src/server/controllers/verification/etherscan/stateless/etherscan.stateless.paths.yaml
  src/server/server.ts
  test/etherscan.js
  test/helpers/assertions.js
  test/helpers/etherscanInstanceContracts.json
Due: run-build-server

add Repository tag to all repository apis in openapi
  openapi.yaml
  src/server/controllers/repository/check-all-by-addresses.stateless.paths.yaml
  src/server/controllers/repository/check-by-addresses.stateless.paths.yaml
  src/server/controllers/repository/get-contract-addresses-all.stateless.paths.yaml
  src/server/controllers/repository/get-file-static.stateless.paths.yaml
  src/server/controllers/repository/get-file-tree-all.stateless.paths.yaml
  src/server/controllers/repository/get-file-tree-full.stateless.paths.yaml
  src/server/controllers/repository/get-source-files-all.stateless.paths.yaml
  src/server/controllers/repository/get-source-files-full.stateless.paths.yaml
  src/server/controllers/repository/tree-any.stateless.paths.yaml
Due: run-build-server

fix wrong safeHandler import
  src/server/controllers/verification/create2/session/create2.session.routes.ts
  src/server/controllers/verification/create2/stateless/create2.stateless.routes.ts
  src/server/controllers/verification/etherscan/session/etherscan.session.routes.ts
  src/server/controllers/verification/etherscan/stateless/etherscan.stateless.routes.ts
  src/server/controllers/verification/session-state/session-state.routes.ts
  src/server/controllers/verification/solc-json/session/solc-json.session.routes.ts
  src/server/controllers/verification/solc-json/stateless/solc-json.stateless.routes.ts
  src/server/controllers/verification/verify/session/verify.session.routes.ts
  src/server/controllers/verification/verify/stateless/verify.stateless.routes.ts
Due: run-build-server

Change serDes to format validation (#1052)
  package-lock.json
  package.json
  src/common/errors/ValidationError.ts
  src/common/validators/validators.ts
  src/server/common.ts
  src/server/controllers/repository/check-all-by-addresses.stateless.paths.yaml
  src/server/controllers/repository/check-by-addresses.stateless.paths.yaml
  src/server/controllers/repository/get-contract-addresses-all.stateless.paths.yaml
  src/server/controllers/repository/get-file-static.stateless.paths.yaml
  src/server/controllers/repository/get-file-tree-all.stateless.paths.yaml
  src/server/controllers/repository/get-file-tree-full.stateless.paths.yaml
  src/server/controllers/repository/get-source-files-all.stateless.paths.yaml
  src/server/controllers/repository/get-source-files-full.stateless.paths.yaml
  src/server/controllers/repository/repository.handlers.ts
  src/server/controllers/repository/repository.routes.ts
  src/server/controllers/verification/create2/session/create2.session.handlers.ts
  src/server/controllers/verification/create2/session/create2.session.paths.yaml
  src/server/controllers/verification/create2/stateless/create2.stateless.handlers.ts
  src/server/controllers/verification/create2/stateless/create2.stateless.paths.yaml
  src/server/controllers/verification/etherscan/session/etherscan.session.handlers.ts
  src/server/controllers/verification/etherscan/session/etherscan.session.paths.yaml
  src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  src/server/controllers/verification/etherscan/stateless/etherscan.stateless.paths.yaml
  src/server/controllers/verification/session-state/input-contract.session-state.paths.yaml
  src/server/controllers/verification/session-state/session-state.handlers.ts
  src/server/controllers/verification/solc-json/session/solc-json.session.handlers.ts
  src/server/controllers/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  src/server/controllers/verification/solc-json/stateless/solc-json.stateless.paths.yaml
  src/server/controllers/verification/verification.common.ts
  src/server/controllers/verification/verify/session/verify.session.paths.yaml
  src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
  src/server/middlewares/GenericErrorHandler.ts
  src/server/server.ts
  src/sourcify-chains.ts
  test/etherscan.js
  test/helpers/assertions.js
Due: run-build-server

Session/Stateless to Session/StatelessVerification
  openapi.yaml
  src/server/controllers/verification/create2/session/compile.create2.session.paths.yaml
  src/server/controllers/verification/create2/session/create2.session.paths.yaml
  src/server/controllers/verification/create2/stateless/create2.stateless.paths.yaml
  src/server/controllers/verification/etherscan/session/etherscan.session.paths.yaml
  src/server/controllers/verification/etherscan/stateless/etherscan.stateless.paths.yaml
  src/server/controllers/verification/session-state/clear.session-state.paths.yaml
  src/server/controllers/verification/session-state/data.session-state.paths.yaml
  src/server/controllers/verification/session-state/input-contract.session-state.paths.yaml
  src/server/controllers/verification/session-state/input-files.session-state.paths.yaml
  src/server/controllers/verification/solc-json/session/solc-json.session.paths.yaml
  src/server/controllers/verification/solc-json/stateless/solc-json.stateless.paths.yaml
  src/server/controllers/verification/verify/session/verify.session.paths.yaml
  src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
Due: run-build-server

update-chain-7001 -- New RPC endpoints and test contracts for ZetaChain Athens3 Testnet (#1051)
  test/chains/chain-tests.js
Due: none

Accept branch names
  scripts/test_new_chain_support.sh
Due: none

remove non existent immutableVariableVerificationUnsupported
  src/server/controllers/verification/create2/stateless/create2.stateless.paths.yaml
  src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
Due: run-build-server

Nginx grafana (#1060)
  environments/grafana.yaml
  environments/promtail-config.yml
Due: none

fix abitype version
  package-lock.json
  packages/lib-sourcify/package.json
Due: none

add npm install in build:clean before using lerna
  package.json
Due: none

change the variable name `reportStatus` to `reportMatchStatus` so it's more clear
  src/server/controllers/repository/repository.handlers.ts
Due: run-build-server

Customize API favicon title
  src/server/server.ts
Due: run-build-server

Sort by chain.name
  src/sourcify-chains.ts
  ui/src/components/ChainSelect/index.tsx
Due: run-build-ui

Fix Loki "too many outstanding requests"
  environments/grafana.yaml
  environments/loki-config.yaml
  environments/promtail-config.yaml
Due: none

Fix matomo link
  ui/public/index.html
Due: run-build-ui

Fix type error .title missing
  src/sourcify-chains.ts
Due: none

Gracefully stop ipfs to avoid repo.lock
  services/ipfs/Dockerfile.ipfs
Due: run-build-ipfs

Fail when zero chain-tests pass
  test/chains/chain-tests.js
Due: none

Check `newChainId` too when checking 0 test pass
  test/chains/chain-tests.js
Due: none

Update chains.json
  src/chains.json
Due: none

Fix loki-config
  environments/loki-config.yaml
Due: none

responses components included from a shared file
  src/server/controllers/verification/create2/stateless/create2.stateless.paths.yaml
  src/server/controllers/verification/errors.yaml
  src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
Due: run-build-server

Fix .title mising in Chain
  packages/lib-sourcify/src/lib/types.ts
Due: none

examples for all stateless api
  src/server/controllers/verification/create2/stateless/create2.stateless.paths.yaml
  src/server/controllers/verification/errors.yaml
  src/server/controllers/verification/etherscan/stateless/etherscan.stateless.paths.yaml
  src/server/controllers/verification/solc-json/stateless/solc-json.stateless.paths.yaml
  src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
Due: run-build-server

Add zora chain mainnet 7777777 (#1064)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

copy also openapi.yaml while building the server's dockerfile
  src/Dockerfile.server
Due: none

Update logging (#1072)
  .vscode/launch.json
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/solidityCompiler.ts
  packages/lib-sourcify/src/lib/verification.ts
  src/common/SourcifyEventManager/SourcifyEventManager.ts
  src/common/SourcifyEventManager/listeners/logger.ts
  src/common/SourcifyEventManager/listeners/matchStored.ts
  src/common/loggerLoki.ts
  src/config.ts
  src/monitor/monitor.ts
  src/monitor/pending-contract.ts
  src/monitor/source-fetcher.ts
  src/server/middlewares/ApiLogging.ts
  src/server/middlewares/GenericErrorHandler.ts
  src/server/server.ts
  src/server/services/RepositoryService.ts
  src/server/services/VerificationService.ts
  src/sourcify-chains.ts
Due: run-build-monitor, run-build-server

#1071 prevent overriding already verified contract
  src/server/controllers/verification/verification.common.ts
Due: run-build-server

#1071 prevent overriding already verified contract * fix missing check for address/chainId
  src/server/controllers/verification/verification.common.ts
Due: run-build-server

Update lib-sourcify version
  packages/lib-sourcify/package.json
Due: none

serve swagger.json for integration
  src/server/server.ts
Due: run-build-server

Typo in publish_to_npm.sh
  scripts/publish_to_npm.sh
Due: none

Hardhat and Ganche networks on development
  src/monitor/monitor.ts
  src/sourcify-chains.ts
  test/monitor.js
  test/server.js
Due: run-build-monitor

Don't show unsupported chains in UI
  ui/src/components/ChainSelect/index.tsx
Due: run-build-ui

Add Rollux (570) and Testnet (5700) (#1076)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Fix Matomo
  ui/public/index.html
Due: run-build-ui

Persist loki and prometheus data
  environments/grafana.yaml
Due: none
