Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

Implement a complete Metadata type (#1001)
  package-lock.json
  package.json
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/lib/types.ts
  src/server/controllers/VerificationController-util.ts
Due: run-build-server

#860 `checkChainId` now returns error if chain is not supported
  src/sourcify-chains.ts
Due: none

Add server monitoring capabilities to grafana * add prometheus * add cadvisor for monitoring docker containers * add node_exported for monitoring the server
  environments/.env.dev
  environments/.env.latest
  environments/.env.stable
  environments/grafana.yaml
Due: none

* remove network_mode host from cadvisor
  environments/grafana.yaml
Due: none

Remove server, monitor build dependency on tests
  .circleci/continue_config.yml
Due: none

Disable chainId 51 getCreatorTx test
  test/server.js
Due: none

remove old TODO already completed
  packages/lib-sourcify/src/lib/solidityCompiler.ts
Due: none

Re-enable SourcifyEventManager's listeners (#1003)
  package.json
  src/server/server.ts
Due: run-build-server

fix #869 add a repository link to the create2 verified contracts
  ui/src/pages/Lookup/Result.tsx
Due: run-build-ui

Updated chain-tests
  src/sourcify-chains.ts
  test/chains/chain-tests.js
  test/chains/sources/shared/artifacts/Storage.json
  test/chains/sources/shared/artifacts/Storage_metadata.json
  test/chains/sources/shared/artifacts/WithImmutables.json
  test/chains/sources/shared/artifacts/WithImmutables_metadata.json
  test/chains/sources/shared/artifacts/build-info/0a0a7ee2fe98c1f913c327b062f80f6c.json
  test/chains/sources/shared/artifacts/build-info/fc7b0e84998147f0f5e280a2fd105a47.json
Due: none

use checkSupportedChainId instead of checkChainId for contract verification
  src/server/controllers/VerificationController.ts
  src/sourcify-chains.ts
  test/etherscan.js
Due: run-build-server

Added Symplexia Smart Chain
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

add canto testnet (7701) (#1005)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

fix #1010 update typescript in lib-sourcify
  packages/lib-sourcify/package.json
Due: none

#1010 update typedoc in lib-sourcify * fix compatibility issue with typescript
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
Due: none

Handle libraries with call protection (#1000)
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/sources/CallProtectionForLibraries/artifact.json
  packages/lib-sourcify/test/sources/CallProtectionForLibraries/metadata.json
  packages/lib-sourcify/test/sources/CallProtectionForLibraries/sources/Ballot.sol
  packages/lib-sourcify/test/sources/CallProtectionForLibrariesViaIR/artifact.json
  packages/lib-sourcify/test/sources/CallProtectionForLibrariesViaIR/metadata.json
  packages/lib-sourcify/test/sources/CallProtectionForLibrariesViaIR/sources/Ballot.sol
  packages/lib-sourcify/test/verification.spec.ts
Due: none

Add "Lookup Another" button in Lookup result
  ui/src/pages/Lookup/Result.tsx
  ui/src/pages/Lookup/index.tsx
Due: run-build-ui

Add nginx exporter for prometheus
  environments/grafana.yaml
Due: none

improve the function to sanitize path at `storeSources`
  src/server/services/RepositoryService.ts
Due: run-build-server

#860 display the create2 repo link only for create2 results
  ui/src/pages/Lookup/Result.tsx
Due: run-build-ui

Fix abitype req. typescript v5+
  package-lock.json
  package.json
Due: none

Show error on bad Etherscan req
  scripts/find_replace.sh
  src/server/controllers/VerificationController-util.ts
Due: run-build-server

Change OPTIMISTIC_ETHERSCAN to OPTIMISMSCAN
  environments/.env.dev
  environments/.env.latest
  environments/.env.secrets.gpg
  environments/.env.stable
  scripts/find_replace.sh
  src/config.ts
Due: none

Revert accidentally setting `sed` to `gsed`
  scripts/find_replace.sh
Due: none

Removed Additional white spaces
  src/sourcify-chains.ts
Due: none

Add chain 295 (Hedera Mainnet) (#1009)
  package-lock.json
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Revert package-lock in commit
  package-lock.json
Due: none

fix `matchWithCreationTx` by decoding the constructor arguments * add tests for wrong constructor arguments in creatorTx * add missing test for successful creation bytecode verification
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/sources/WithImmutablesCreationBytecodeAttack/artifact.json
  packages/lib-sourcify/test/sources/WithImmutablesCreationBytecodeAttack/metadata.json
  packages/lib-sourcify/test/sources/WithImmutablesCreationBytecodeAttack/sources/WithImmutables.sol
  packages/lib-sourcify/test/verification.spec.ts
Due: none

test for paths in metadata containing multiple `../`
  test/server.js
  test/testcontracts/Storage/metadata.upMultipleDirs.json
Due: none

fix linter error
  packages/lib-sourcify/src/lib/verification.ts
Due: none

fix linter warning * remove unused Metadata variable from RepositoryController
  src/server/services/RepositoryService.ts
Due: run-build-server

return an error for an empty `recompiledCreationBytecode` in `matchWithCreationTx`
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/sources/AbstractCreationBytecodeAttack/metadata.json
  packages/lib-sourcify/test/sources/AbstractCreationBytecodeAttack/sources/FFF.sol
  packages/lib-sourcify/test/verification.spec.ts
Due: none

Throw before if compiled bytecode empty
  packages/lib-sourcify/src/lib/verification.ts
Due: none

Add back empty bytecode check to matchWithCreationTx
  packages/lib-sourcify/src/lib/verification.ts
Due: none

fix vscode debugger's configuration for lib-sourcify
  .vscode/launch.json
Due: none

New Sources Test
  test/chains/chain-tests.js
Due: none

Fix lib-sourcify npm github links
  packages/lib-sourcify/package.json
Due: none

Fix Bobascan test to perfect rename PerfectMetadat
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/functions.spec.ts
  test/helpers/etherscanInstanceContracts.json
Due: none

Remove immutable contracts
  test/chains/chain-tests.js
  test/chains/deployContracts.js
  test/chains/sources/1/immutable/BundleExecutor.sol
  test/chains/sources/1/immutable/metadata.json
  test/chains/sources/10/immutable/ITreasury.sol
  test/chains/sources/10/immutable/OptimisticTreasury.sol
  test/chains/sources/10/immutable/Proprietor.sol
  test/chains/sources/10/immutable/iOVM_CrossDomainMessenger.sol
  test/chains/sources/10/immutable/metadata.json
  test/chains/sources/137/immutable/StakingWarmup.sol
  test/chains/sources/137/immutable/metadata.json
  test/chains/sources/288/immutable/DODOV2RouteHelper.sol
  test/chains/sources/288/immutable/metadata.json
  test/chains/sources/40/immutable/Address.sol
  test/chains/sources/40/immutable/IERC20.sol
  test/chains/sources/40/immutable/SafeERC20.sol
  test/chains/sources/40/immutable/TokenTimelock.sol
  test/chains/sources/40/immutable/metadata.json
  test/chains/sources/42161/immutable/crowdsale.sol
  test/chains/sources/42161/immutable/metadata.json
  test/chains/sources/42220/immutable/StakingHelper.sol
  test/chains/sources/42220/immutable/metadata.json
  test/chains/sources/43114/immutable/StakingHelper.sol
  test/chains/sources/43114/immutable/metadata.json
  test/chains/sources/62320/0x3908Eed8941D7fE3b047Ad531C7d4d1a0D628F5e/IERC20.sol
  test/chains/sources/62320/0x3908Eed8941D7fE3b047Ad531C7d4d1a0D628F5e/IMerkleDistributor.sol
  test/chains/sources/62320/0x3908Eed8941D7fE3b047Ad531C7d4d1a0D628F5e/MerkleDistributor.sol
  test/chains/sources/62320/0x3908Eed8941D7fE3b047Ad531C7d4d1a0D628F5e/MerkleProof.sol
  test/chains/sources/62320/0x3908Eed8941D7fE3b047Ad531C7d4d1a0D628F5e/metadata.json
  test/chains/sources/shared/WithImmutables.json
  test/chains/sources/shared/WithImmutables.sol
  test/chains/sources/shared/old.withImmutables.metadata.json
  test/chains/sources/shared/withImmutables.metadata.json
Due: none

Fix #1017 Set `outputSelection` to both `*`
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: none

Path conditions:
  run-build-ipfs: any of: services/ipfs/.*
  run-build-s3: any of: services/s3sync/.*
  run-build-repository: any of: h5ai-nginx
  run-build-monitor: any of: src/monitor/.*
  run-build-server: any of: src/server/.*
  run-build-core: any of: services/core/.*
  run-build-verification: any of: services/verification/.*
  run-build-validation: any of: services/validation/.*
  run-build-ui: any of: ui/.*
  run-build-ui-legacy: any of: ui-legacy/.*
