Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

.circleci/config.yml:

# Config that filters the build jobs: only run new builds for the paths that are changed.
# Runs the continue_config.yml subsequently.
version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# Pipeline parameters for nightly and regular test chain triggers.
parameters:
  run-nightly:
    type: boolean
    default: false
  run-test-chains-regularly:
    type: boolean
    default: false

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset see https://circleci.com/docs/2.0/using-dynamic-configuration/
orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

# Can add multiple workflows in setup since only one of these will run. Otherwise it's not possible: https://support.circleci.com/hc/en-us/articles/360060934851--Max-number-of-workflows-exceeded-error
workflows:
  always-run:
    # Don't run on scheduled pipelines.
    when:
      and:
        - not: << pipeline.parameters.run-nightly >>
        - not: << pipeline.parameters.run-test-chains-regularly >>
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      # runs build-publish-deploy on staging and master.
      - path-filtering/filter:
          filters:
            branches:
              only:
                - staging
                - master
          name: check-updated-files
          # h5ai-nginx without /.* part since it's a submodule. git diff outputs the folder name only, not files under it
          mapping: |
            services/ipfs/.* run-build-ipfs true
            services/s3sync/.* run-build-s3 true
            h5ai-nginx run-build-repository true 
            src/monitor/.* run-build-monitor true
            src/server/.* run-build-server true
            services/core/.* run-build-core true
            services/verification/.* run-build-verification true
            services/validation/.* run-build-validation true
            ui/.* run-build-ui true
            ui-legacy/.* run-build-ui-legacy true
          # Compare against the last build of the branch not the default "main" branch
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/build-publish-deploy.yml
      # Has to run on all branches. Can't regex filter on add-chain-{chainId} branch names see: https://stackoverflow.com/questions/55839004/circleci-regex-filtering-match-within-string
      - continuation/continue:
          configuration_path: .circleci/test-new-chain.yml
      - continuation/continue:
          configuration_path: .circleci/node-build-and-test.yml

  continue-run-nightly:
    when: << pipeline.parameters.run-nightly >>
    jobs:
      - continuation/continue:
          configuration_path: .circleci/nightly.yml

  continue-run-test-chains-regularly:
    when: << pipeline.parameters.run-test-chains-regularly >>
    jobs: 
      - continuation/continue:
          configuration_path: .circleci/test-chains-regularly.yml

Update chains.json
  services/core/src/chains.json
Due: run-build-core

Update Chainsafe S3
  services/s3sync/Dockerfile.s3
  services/s3sync/config
  services/s3sync/login_sync_s3.sh
Due: run-build-s3

Fix wrong Dockerfile ADD order
  services/s3sync/Dockerfile.s3
Due: run-build-s3

Fix ipfs /app vs /sourcify directory
  environments/ipfs.yaml
  services/ipfs/cron.job
  services/ipfs/init-config.sh
Due: run-build-ipfs

added ens to featured contracts
  ui/src/featured.js
Due: run-build-ui

changed 'Ethereum Name Service' to 'ENS'
  ui/src/featured.js
Due: run-build-ui

Added Flare-Chain-14
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

Added Flare-Chain-14
  test/chains/chain-tests.js
Due: none

Add Songbird Chain support
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

resolved error
  services/core/src/sourcify-chains.ts
Due: run-build-core

Update chain-tests.js
  test/chains/chain-tests.js
Due: none

Update Avalanche subnet creation data address (#901)
  services/core/src/sourcify-chains.ts
  services/verification/src/utils.ts
Due: run-build-core, run-build-verification

chain-tests: Add Oasis Sapphire Testnet
  test/chains/chain-tests.js
Due: none

sourcify-chains: Add Oasis Sapphire Testnet
  services/core/src/sourcify-chains.ts
Due: run-build-core

update chains.json
  services/core/src/chains.json
Due: run-build-core

Add Stratos Testnet (2047)
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

stringify the compiler errors before throwing
  services/verification/src/utils.ts
Due: run-build-verification

fix #926 drop SOLC_REPO_TMP variable. Always save compiler into the SOLC_REPO folder.
  services/verification/src/utils.ts
Due: run-build-verification

make solc repo writable
  environments/server.yaml
Due: none

Add Oasis Sapphire Mainnet chain (#884)
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

Chainsafe S3 settings
  environments/.env.secrets.gpg
  scripts/find_replace.sh
  services/s3sync/Dockerfile.s3
  services/s3sync/config
  services/s3sync/login_sync_s3.sh
Due: run-build-s3

Add chain 641230
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

Init lib-sourcify boilerplate
  packages/lib-sourcify/LICENSE
  packages/lib-sourcify/README.md
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/src/lib/async.spec.ts
  packages/lib-sourcify/src/lib/async.ts
  packages/lib-sourcify/src/lib/number.spec.ts
  packages/lib-sourcify/src/lib/number.ts
  packages/lib-sourcify/src/types/example.d.ts
  packages/lib-sourcify/tsconfig.json
  packages/lib-sourcify/tsconfig.module.json
Due: none

Refactor verification with simulation
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
Due: none

Refactor contract recompilation
  packages/lib-sourcify/.gitignore
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/solidityCompiler.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
Due: none

lib-sourcify: Add validation
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/async.spec.ts
  packages/lib-sourcify/src/lib/async.ts
  packages/lib-sourcify/src/lib/number.spec.ts
  packages/lib-sourcify/src/lib/number.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/validation.ts
  packages/lib-sourcify/src/types/example.d.ts
Due: none

Refactor verification with deployedBytecode
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
Due: none

Name lib-sourcify @ethereum-sourcify/lib-sourcify
  packages/lib-sourcify/package.json
Due: none

Refactor verification with creatorTx
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/lib/verification.ts
Due: none

Plug new refactored services to routes
  package-lock.json
  package.json
  src/server/controllers/RepositoryController.ts
  src/server/controllers/VerificationController-util.old.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.old.ts
  src/server/controllers/VerificationController.ts
  src/server/controllers/new-VerificationController-util.ts
  src/server/controllers/new-VerificationController.ts
  src/server/routes.ts
  src/server/services/RepositoryService.ts
  src/server/services/VerificationService.ts
Due: run-build-server

Further DRY the test code
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: none

refactoring create2
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  test/server.js
Due: run-build-server

Add /session apis in the new VerificationController
  .vscode/launch.json
  lerna.json
  package-lock.json
  package.json
  packages/lib-sourcify/src/lib/CheckedContract.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController-util.ts.old
  src/server/controllers/VerificationController.ts
  src/server/controllers/VerificationController.ts.old
  src/server/services/RepositoryService.ts
  src/sourcify-chains.ts
  test/server.js
Due: run-build-server

Add inliner tests to lib-sourcify
  packages/lib-sourcify/test/sources/StorageInliner/artifact.json
  packages/lib-sourcify/test/sources/StorageInliner/metadata.json
  packages/lib-sourcify/test/sources/StorageInliner/sources/Storage.sol
  packages/lib-sourcify/test/verification.spec.ts
  test/server.js
Due: none

Move factory child without constr. arg. test
  packages/lib-sourcify/test/sources/FactoryImmutableWithoutConstrArg/Child/artifact.json
  packages/lib-sourcify/test/sources/FactoryImmutableWithoutConstrArg/Child/metadata.json
  packages/lib-sourcify/test/sources/FactoryImmutableWithoutConstrArg/Child/sources/FactoryTest3.sol
  packages/lib-sourcify/test/sources/FactoryImmutableWithoutConstrArg/Factory/artifact.json
  packages/lib-sourcify/test/sources/FactoryImmutableWithoutConstrArg/Factory/metadata.json
  packages/lib-sourcify/test/sources/FactoryImmutableWithoutConstrArg/Factory/sources/FactoryTest3.sol
  packages/lib-sourcify/test/verification.spec.ts
Due: none

Start plugging lib-sourcify with legacyVerify
  package.json
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/src/lib/types.ts
  src/chains.json
  src/server/controllers/new-VerificationController-util.ts
  src/server/controllers/new-VerificationController.ts
  src/server/services/VerificationService.ts
  src/sourcify-chains.ts
Due: run-build-server

Move factory cont. with immut. test lib-sourcify
  packages/lib-sourcify/test/sources/FactoryImmutable/Child/artifact.json
  packages/lib-sourcify/test/sources/FactoryImmutable/Child/metadata.json
  packages/lib-sourcify/test/sources/FactoryImmutable/Child/sources/FactoryTest.sol
  packages/lib-sourcify/test/sources/FactoryImmutable/Factory/artifact.json
  packages/lib-sourcify/test/sources/FactoryImmutable/Factory/metadata.json
  packages/lib-sourcify/test/sources/FactoryImmutable/Factory/sources/FactoryTest.sol
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/verification.spec.ts
  test/server.js
Due: none

wait less time for etherscan tests
  test/server.js
Due: none
