Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

.circleci/config.yml:

# Config that filters the build jobs: only run new builds for the paths that are changed.
# Runs the continue_config.yml subsequently.
version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# Pipeline parameters for nightly and regular test chain triggers.
parameters:
  run-nightly:
    type: boolean
    default: false
  run-test-chains-regularly:
    type: boolean
    default: false

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset see https://circleci.com/docs/2.0/using-dynamic-configuration/
orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

# Can add multiple workflows in setup since only one of these will run. Otherwise it's not possible: https://support.circleci.com/hc/en-us/articles/360060934851--Max-number-of-workflows-exceeded-error
workflows:
  always-run:
    # Don't run on scheduled pipelines.
    when:
      and:
        - not: << pipeline.parameters.run-nightly >>
        - not: << pipeline.parameters.run-test-chains-regularly >>
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      # runs build-publish-deploy on staging and master.
      - path-filtering/filter:
          filters:
            branches:
              only:
                - staging
                - master
          name: check-updated-files
          # h5ai-nginx without /.* part since it's a submodule. git diff outputs the folder name only, not files under it
          mapping: |
            services/ipfs/.* run-build-ipfs true
            services/s3sync/.* run-build-s3 true
            h5ai-nginx run-build-repository true 
            src/monitor/.* run-build-monitor true
            src/server/.* run-build-server true
            services/core/.* run-build-core true
            services/verification/.* run-build-verification true
            services/validation/.* run-build-validation true
            ui/.* run-build-ui true
            ui-legacy/.* run-build-ui-legacy true
          # Compare against the last build of the branch not the default "main" branch
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/build-publish-deploy.yml
      # Has to run on all branches. Can't regex filter on add-chain-{chainId} branch names see: https://stackoverflow.com/questions/55839004/circleci-regex-filtering-match-within-string
      - continuation/continue:
          configuration_path: .circleci/test-new-chain.yml
      - continuation/continue:
          configuration_path: .circleci/node-build-and-test.yml

  continue-run-nightly:
    when: << pipeline.parameters.run-nightly >>
    jobs:
      - continuation/continue:
          configuration_path: .circleci/nightly.yml

  continue-run-test-chains-regularly:
    when: << pipeline.parameters.run-test-chains-regularly >>
    jobs: 
      - continuation/continue:
          configuration_path: .circleci/test-chains-regularly.yml

Remove Database, remove queue
  environments/.env.latest
  environments/.env.stable
  scripts/setup.sh
  services/verification/src/services/VerificationService.ts
  src/config.ts
  src/server/services/Queue.ts
  src/server/services/address-db.ts
  test/chains/chain-tests.js
  test/monitor.js
  test/server.js
Due: run-build-server, run-build-verification

Remove ENS
  environments/.env.latest
  environments/.env.stable
  scripts/find_replace.sh
Due: none

Increase solc compilcation max output buffer
  services/verification/src/utils.ts
Due: run-build-verification

Print multiple RPC errors
  services/verification/src/services/Injector.ts
Due: run-build-verification

fix monitor tests
  src/monitor/monitor.ts
  test/monitor.js
Due: run-build-monitor

use HashRouter instead of BrowserRouter for IPFS compatibility
  ui/src/App.tsx
Due: run-build-ui

Allow deeplinking of verified contract
  ui/src/App.tsx
  ui/src/pages/Lookup/Field.tsx
  ui/src/pages/Lookup/Result.tsx
  ui/src/pages/Lookup/index.tsx
Due: run-build-ui

Fix useEffect missing dependencies
  ui/src/pages/Lookup/index.tsx
Due: run-build-ui

eslint-disable-next-line react-hooks/exhaustive-deps
  ui/src/pages/Lookup/index.tsx
Due: run-build-ui

don't run etherscan test if coming from external PR
  test/server.js
Due: none

Send compiler errors to the user
  services/verification/src/services/VerificationService.ts
  services/verification/src/utils.ts
Due: run-build-verification

Handle def. evmVersion Ethersc,fix version prefix
  services/core/src/utils/types.ts
  src/server/controllers/VerificationController.ts
Due: run-build-server, run-build-core

Hotfix disable IPFS add
  environments/.env.latest
  environments/.env.stable
Due: none

add KEK main net
  services/core/src/sourcify-chains.ts
Due: run-build-core

Update chain-tests.js
  test/chains/chain-tests.js
Due: none

#793 session api refactor
  src/server/controllers/VerificationController.ts
  src/server/server.ts
  test/server.js
  ui/src/constants.ts
Due: run-build-server, run-build-ui

fix #816 new error message for importing same contract from etherscan twice
  src/server/controllers/VerificationController.ts
Due: run-build-server

update clear session success and fail messages
  src/server/controllers/VerificationController.ts
Due: run-build-server

update "Payload Too Large" error message
  src/server/controllers/VerificationController.ts
Due: run-build-server

fix stats y-axis labels being cut off
  ui/src/pages/LandingPage/ChartSection.tsx
Due: run-build-ui

set javascript's ecmaVersion to 2017 in the tests
  test/.eslintrc.js
Due: none

fix monitor tests
  test/monitor.js
Due: none

lint tests
  package.json
  test/.eslintrc.js
  test/chains/chain-tests.js
  test/sourceFetcher.js
Due: none

change verify from etherscan api endpoint
  src/server/controllers/VerificationController.ts
Due: run-build-server

POA Network Core: specify working rpc endpoint
  services/core/src/sourcify-chains.ts
Due: run-build-core

Add chain 99
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

POA Network Core: fix contractFetchAddress
  services/core/src/sourcify-chains.ts
Due: run-build-core

Update for "Getting Started" docs, add .env.dev
  environments/.env.dev
  environments/.env.stable
  environments/build-ui.yaml
  environments/repository.yaml
  scripts/monitor_ci.js
  services/core/src/services/FileService.ts
  services/core/src/sourcify-chains.ts
  src/config.ts
  test/monitor.js
  ui/.env.development
  ui/.env.production
  ui/Dockerfile
  ui/README.md
  ui/src/constants.ts
  ui/src/pages/LandingPage/ChartSection.tsx
  ui/src/pages/LandingPage/index.tsx
  ui/src/pages/Lookup/Result.tsx
  ui/src/utils/utils.tsx
Due: run-build-core, run-build-ui

update new etherscan api endpoint in tests
  test/server.js
  ui/src/constants.ts
Due: run-build-ui

Fix partial match with bytecodeHash: none
  services/verification/src/services/Injector.ts
  services/verification/src/utils.ts
Due: run-build-verification

Fix prev. commit
  services/verification/src/services/Injector.ts
  services/verification/src/utils.ts
Due: run-build-verification

fix #817 don't wait for addToIpfsMfs in inject
  services/verification/src/services/Injector.ts
Due: run-build-verification

Change SERVER_EXTERNAL_PORT in .env.dev
  environments/.env.dev
Due: none

Remove 'add you project'
  ui/src/pages/LandingPage/ChartSection.tsx
Due: run-build-ui

Fix lint error
  ui/src/pages/LandingPage/ChartSection.tsx
Due: run-build-ui

.env.dev local nodes, handle empty url and port
  environments/.env.dev
  services/core/src/sourcify-chains.ts
  services/verification/src/services/Injector.ts
Due: run-build-core, run-build-verification

Add chain 592 (Astar - EVM)
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core
