Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

.circleci/config.yml:

# Config that filters the build jobs: only run new builds for the paths that are changed.
# Runs the continue_config.yml subsequently.
version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# Pipeline parameters for nightly and regular test chain triggers.
parameters:
  run-nightly:
    type: boolean
    default: false
  run-test-chains-regularly:
    type: boolean
    default: false

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset see https://circleci.com/docs/2.0/using-dynamic-configuration/
orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

# Can add multiple workflows in setup since only one of these will run. Otherwise it's not possible: https://support.circleci.com/hc/en-us/articles/360060934851--Max-number-of-workflows-exceeded-error
workflows:
  always-run:
    # Don't run on scheduled pipelines.
    when:
      and:
        - not: << pipeline.parameters.run-nightly >>
        - not: << pipeline.parameters.run-test-chains-regularly >>
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      # runs build-publish-deploy on staging and master.
      - path-filtering/filter:
          filters:
            branches:
              only:
                - staging
                - master
          name: check-updated-files
          # h5ai-nginx without /.* part since it's a submodule. git diff outputs the folder name only, not files under it
          mapping: |
            services/ipfs/.* run-build-ipfs true
            services/s3sync/.* run-build-s3 true
            h5ai-nginx run-build-repository true 
            src/monitor/.* run-build-monitor true
            src/server/.* run-build-server true
            services/core/.* run-build-core true
            services/verification/.* run-build-verification true
            services/validation/.* run-build-validation true
            ui/.* run-build-ui true
            ui-legacy/.* run-build-ui-legacy true
          # Compare against the last build of the branch not the default "main" branch
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/build-publish-deploy.yml
      # Has to run on all branches. Can't regex filter on add-chain-{chainId} branch names see: https://stackoverflow.com/questions/55839004/circleci-regex-filtering-match-within-string
      - continuation/continue:
          configuration_path: .circleci/test-new-chain.yml
      - continuation/continue:
          configuration_path: .circleci/node-build-and-test.yml

  continue-run-nightly:
    when: << pipeline.parameters.run-nightly >>
    jobs:
      - continuation/continue:
          configuration_path: .circleci/nightly.yml

  continue-run-test-chains-regularly:
    when: << pipeline.parameters.run-test-chains-regularly >>
    jobs: 
      - continuation/continue:
          configuration_path: .circleci/test-chains-regularly.yml

Remove Ropsten and Kovan in UI and EtherscanImport
  src/server/controllers/VerificationController.ts
  test/sources/ropsten/Import.sol
  test/sources/ropsten/Simple.sol
  test/sources/ropsten/SimpleWithImport.sol
  test/sources/ropsten/addresses.txt
  test/sources/ropsten/simple.meta.json
  test/sources/ropsten/simpleWithImport.meta.json
  ui/src/pages/LandingPage/ChartSection.tsx
  ui/src/pages/Verifier/EtherscanInput.tsx
Due: run-build-server, run-build-ui

Remove Rinkeby e2e tests,remove Rinkeby AlchemyURL
  .circleci/continue_config.yml
  .circleci/nightly.yml
  scripts/check-s3-backup.mjs
  scripts/monitor_ci.js
  scripts/monitor_ci.sh
  services/core/src/sourcify-chains.ts
Due: run-build-core

Fix REPOSITORY_PATH missing
  environments/.env.latest
Due: none

Add SERVER_PORT, remove default ./repository
  environments/.env.latest
  package.json
  src/config.ts
Due: none

remove chain Arbitrum Rinkeby
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

fix #826 update chainId 44787 block explorer
  services/core/src/sourcify-chains.ts
Due: run-build-core

fix #827 fix lookup chains mobile view
  ui/package-lock.json
  ui/package.json
  ui/src/pages/Lookup/Result.tsx
Due: run-build-ui

handle errors during create2 files verification
  services/core/src/utils/CheckedContract.ts
  services/verification/src/services/Injector.ts
  services/verification/src/services/VerificationService.ts
  services/verification/src/utils.ts
  src/server/controllers/VerificationController.ts
Due: run-build-server, run-build-core, run-build-verification

implement create2 work in progress
  services/verification/src/services/Injector.ts
  services/verification/src/services/VerificationService.ts
  services/verification/src/utils.ts
  src/server/controllers/VerificationController.ts
Due: run-build-server, run-build-verification

compile contracts before verification on create2
  services/core/src/utils/CheckedContract.ts
  services/verification/src/services/Injector.ts
  services/verification/src/services/VerificationService.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  ui/package-lock.json
  ui/package.json
  ui/src/constants.ts
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/CounterfactualForm/index.tsx
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/Create2Form/index.tsx
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/index.tsx
  ui/src/pages/Verifier/CheckedContractsView/index.tsx
  ui/src/pages/Verifier/index.tsx
  ui/src/types.ts
Due: run-build-server, run-build-core, run-build-verification, run-build-ui

fix responsivness in lookup page
  ui/src/pages/Lookup/Result.tsx
Due: run-build-ui

add loading overlay while compiling contract for create2
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/Create2Form/index.tsx
Due: run-build-ui

create2 handle form errors and disabed button
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/Create2Form/index.tsx
Due: run-build-ui

create2 fix error when constructor args is undefined
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/Create2Form/index.tsx
Due: run-build-ui

create2 information in the lookup detail * save create2-args.json in the repo on create2 verification * displays deployercontract, salt and constructor arguments when lookup
  services/core/src/services/FileService.ts
  services/core/src/utils/types.ts
  services/verification/src/services/Injector.ts
  src/server/controllers/VerificationController.ts
  ui/src/pages/Lookup/Result.tsx
  ui/src/types.ts
Due: run-build-server, run-build-core, run-build-verification, run-build-ui

create2 keep constructorArgs after verification
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/Create2Form/index.tsx
Due: run-build-ui

create2 fix create2 authenticated test
  test/server.js
Due: none

create2 user interface and session based api
  services/core/src/utils/types.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  ui/src/components/Button/index.tsx
  ui/src/constants.ts
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/Message.tsx
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/CounterfactualForm/index.tsx
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/index.tsx
  ui/src/pages/Verifier/CheckedContractsView/index.tsx
  ui/src/pages/Verifier/index.tsx
  ui/src/types.ts
Due: run-build-server, run-build-core, run-build-ui

create2: add tests for both verification and input contract
  test/server.js
Due: none

create2: lookup create2 verified contract
  src/server/controllers/VerificationController.ts
  ui/src/pages/Lookup/Result.tsx
  ui/src/pages/Lookup/index.tsx
Due: run-build-server, run-build-ui

create2 protect api with client tokens
  src/server/controllers/VerificationController.ts
  test/server.js
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/Create2Form/index.tsx
  ui/src/types.ts
Due: run-build-server, run-build-ui

import from contract new session api that allows the user to import files directly from the metadata file decoded from the contract's bytecode
  package-lock.json
  package.json
  services/core/src/utils/CheckedContract.ts
  services/verification/src/services/Injector.ts
  services/verification/src/services/VerificationService.ts
  src/server/controllers/VerificationController.ts
  ui/src/constants.ts
  ui/src/pages/Verifier/ContractInput.tsx
  ui/src/pages/Verifier/FileUpload.tsx
Due: run-build-server, run-build-core, run-build-verification, run-build-ui

Update sourcify-chains.ts
  services/core/src/sourcify-chains.ts
Due: run-build-core

add missing blockscoutPrefix for Alfajores
  services/core/src/sourcify-chains.ts
Due: run-build-core

fix peer dependency keyv to 4.5.0 see https://github.com/jaredwray/keyv/issues/556
  package.json
  services/core/package.json
  services/validation/package.json
  services/verification/package.json
Due: run-build-core, run-build-verification, run-build-validation

#fix 829 remove explicit peerdependency keyv
  package.json
  services/core/package.json
  services/validation/package.json
  services/verification/package.json
Due: run-build-core, run-build-verification, run-build-validation

fix CircleCI env variable name: PR_REPONAME
  test/server.js
Due: none

Add chain 1001
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

Trigger monitor build
  src/monitor/source-fetcher.ts
Due: run-build-monitor

Add support for Gnosis Chiado Testnet
  .nvmrc
  services/core/src/chains.json
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

Fix typo
  services/core/src/sourcify-chains.ts
Due: run-build-core

Update Alchemy URL for eth networks
  services/core/src/sourcify-chains.ts
Due: run-build-core

create2: remove check on hash in performFetch
  services/core/src/utils/CheckedContract.ts
Due: run-build-core

create2: make deployerAddress, salt mandatory on Create2Args type
  services/core/src/utils/types.ts
Due: run-build-core

create2: import NextFunction directly from express
  src/server/controllers/VerificationController.ts
Due: run-build-server

create2: better message error for create2Address !== computedAddr
  services/verification/src/services/Injector.ts
Due: run-build-verification

create2: remove forgotten old comments
  services/verification/src/services/VerificationService.ts
Due: run-build-verification

create2: add link to doc in the explanation tooltip in Lookup
  ui/src/pages/Lookup/Result.tsx
Due: run-build-ui

create2: remove addresses argument from storeMatch
  services/verification/src/services/Injector.ts
Due: run-build-verification
