Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

.circleci/config.yml:

# Config that filters the build jobs: only run new builds for the paths that are changed.
# Runs the continue_config.yml subsequently.
version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# Pipeline parameters for nightly and regular test chain triggers.
parameters:
  run-nightly:
    type: boolean
    default: false
  run-test-chains-regularly:
    type: boolean
    default: false

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset see https://circleci.com/docs/2.0/using-dynamic-configuration/
orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

# Can add multiple workflows in setup since only one of these will run. Otherwise it's not possible: https://support.circleci.com/hc/en-us/articles/360060934851--Max-number-of-workflows-exceeded-error
workflows:
  always-run:
    # Don't run on scheduled pipelines.
    when:
      and:
        - not: << pipeline.parameters.run-nightly >>
        - not: << pipeline.parameters.run-test-chains-regularly >>
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      # runs build-publish-deploy on staging and master.
      - path-filtering/filter:
          filters:
            branches:
              only:
                - staging
                - master
          name: check-updated-files
          # h5ai-nginx without /.* part since it's a submodule. git diff outputs the folder name only, not files under it
          mapping: |
            services/ipfs/.* run-build-ipfs true
            services/s3sync/.* run-build-s3 true
            h5ai-nginx run-build-repository true 
            src/monitor/.* run-build-monitor true
            src/server/.* run-build-server true
            services/core/.* run-build-core true
            services/verification/.* run-build-verification true
            services/validation/.* run-build-validation true
            ui/.* run-build-ui true
            ui-legacy/.* run-build-ui-legacy true
          # Compare against the last build of the branch not the default "main" branch
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/build-publish-deploy.yml
      # Has to run on all branches. Can't regex filter on add-chain-{chainId} branch names see: https://stackoverflow.com/questions/55839004/circleci-regex-filtering-match-within-string
      - continuation/continue:
          configuration_path: .circleci/test-new-chain.yml
      - continuation/continue:
          configuration_path: .circleci/node-build-and-test.yml

  continue-run-nightly:
    when: << pipeline.parameters.run-nightly >>
    jobs:
      - continuation/continue:
          configuration_path: .circleci/nightly.yml

  continue-run-test-chains-regularly:
    when: << pipeline.parameters.run-test-chains-regularly >>
    jobs: 
      - continuation/continue:
          configuration_path: .circleci/test-chains-regularly.yml

Add monitoring support to Meter
  src/sourcify-chains.ts
Due: none

Fix verification test descriptions
  packages/lib-sourcify/test/verification.spec.ts
Due: none

Fix verify not throwing add immutable test
  packages/lib-sourcify/test/sources/WithImmutables/artifact.json
  packages/lib-sourcify/test/sources/WithImmutables/metadata.json
  packages/lib-sourcify/test/sources/WithImmutables/sources/WithImmutables.sol
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/verification.spec.ts
  src/server/services/VerificationService.ts
Due: run-build-server

Fix matchWithCreatorTx address comparison
  packages/lib-sourcify/src/lib/verification.ts
Due: none

Move matechWithCreationTx address comparison after match
  packages/lib-sourcify/src/lib/verification.ts
Due: none

Update chains.json
  src/chains.json
Due: none

Add chain 84531
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Log Chainsafe S3 output
  services/s3sync/login_sync_s3.sh
Due: run-build-s3

Stringify compiler errors
  packages/lib-sourcify/src/lib/solidityCompiler.ts
Due: none

Fix #928 Put "*" to outputSelection
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: none

Fix missing module `c-kzg`
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
Due: none

Force --ci on server and monitor Docker build
  src/Dockerfile.monitor
  src/Dockerfile.server
Due: none

Fix returning empty tx in getTx
  packages/lib-sourcify/src/lib/verification.ts
Due: none

Add s3 log folder
  services/s3sync/entrypoint.sh
Due: run-build-s3

Fix s3 logs folder typo
  services/s3sync/entrypoint.sh
Due: run-build-s3

update canto explorer endpoint (#939)
  src/sourcify-chains.ts
Due: none

Reorg anize launch.json
  .vscode/launch.json
  test/server.js
Due: none

Don't assign IPFS_GATEWAY variable but look in env
  packages/lib-sourcify/src/lib/CheckedContract.ts
  src/server/controllers/VerificationController.ts
Due: run-build-server

Use a local ipfs gw on tests
  package-lock.json
  package.json
  test/server.js
Due: none

Add creatorTxHash to session verify, add test
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  test/server.js
Due: run-build-server

CreatorTxHash in legacy API, save file, add tests
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/utils.ts
  src/server/controllers/VerificationController.ts
  src/server/services/RepositoryService.ts
  src/server/services/VerificationService.ts
  test/helpers/helpers.js
  test/server.js
  test/testcontracts/WithImmutables/artifact.json
  test/testcontracts/WithImmutables/metadata.json
  test/testcontracts/WithImmutables/sources/WithImmutables.sol
Due: run-build-server

Don't stringify context-variables.json with spaces
  src/server/services/RepositoryService.ts
Due: run-build-server

Refactor redundancy in RepositoryService
  src/server/services/RepositoryService.ts
Due: run-build-server

Add creatorTxHash to UI
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
  ui/src/types.ts
Due: run-build-ui

#952 File not saved after CREATE2 verification
  src/server/controllers/VerificationController.ts
  test/server.js
Due: run-build-server

Stop Chainsafe sync, add 2>&1 to logging
  services/s3sync/login_sync_s3.sh
Due: run-build-s3

coverage tests for lib-sourcify * fix nyc for mocha * enable coverage export * push coverage to +75%
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/solidityCompiler.ts
  packages/lib-sourcify/src/lib/validation.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/functions.spec.ts
  packages/lib-sourcify/test/validation.spec.ts
  packages/lib-sourcify/test/validation/files/hardhat-output/output.json
  packages/lib-sourcify/test/verification.spec.ts
Due: none

fix unzip test in lib-sourcify
  packages/lib-sourcify/test/validation.spec.ts
Due: none

add coverage test to sourcify * installed nyc * nyc configuration
  .gitignore
  package-lock.json
  package.json
Due: none

add test to increase coverage * now coverage more than 85% * add missing open-cli package
  package-lock.json
  package.json
  src/server/services/RepositoryService.ts
  test/server.js
Due: run-build-server

fix scraping test using chainId 100 instead of 5
  test/server.js
Due: none

increase timeout for before in tests
  test/server.js
Due: none

fix timeout for before test
  test/server.js
Due: none

test coverage upload
  .circleci/continue_config.yml
  package-lock.json
  package.json
  packages/lib-sourcify/package.json
Due: none

add coverage generation during tests
  .circleci/new_branch.yml
Due: none

add coverage and activate all tests
  README.md
  test/server.js
Due: none

handle coverage separately for lib-sourcify and server
  .circleci/new_branch.yml
  README.md
  package.json
  packages/lib-sourcify/README.md
  packages/lib-sourcify/package.json
Due: none

disable sending coverage for packages (except lib-sourcify)
  packages/bytecode-utils/package.json
  packages/contract-call-decoder/package.json
Due: none

Added wagmi to tools in the landing page
  ui/src/assets/integrations/wagmi.png
  ui/src/pages/LandingPage/ToolsPlugin.tsx
Due: run-build-ui

fix #947 handle etherscan contracts with multiple sources * add tests * rename previous etherscan method to standard-json-input
  src/server/controllers/VerificationController-util.ts
  test/server.js
Due: run-build-server
