Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

.circleci/config.yml:

# Config that filters the build jobs: only run new builds for the paths that are changed.
# Runs the continue_config.yml subsequently.
version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# Pipeline parameters for nightly and regular test chain triggers.
parameters:
  run-nightly:
    type: boolean
    default: false
  run-test-chains-regularly:
    type: boolean
    default: false

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset see https://circleci.com/docs/2.0/using-dynamic-configuration/
orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

# Can add multiple workflows in setup since only one of these will run. Otherwise it's not possible: https://support.circleci.com/hc/en-us/articles/360060934851--Max-number-of-workflows-exceeded-error
workflows:
  always-run:
    # Don't run on scheduled pipelines.
    when:
      and:
        - not: << pipeline.parameters.run-nightly >>
        - not: << pipeline.parameters.run-test-chains-regularly >>
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      # runs build-publish-deploy on staging and master.
      - path-filtering/filter:
          filters:
            branches:
              only:
                - staging
                - master
          name: check-updated-files
          # h5ai-nginx without /.* part since it's a submodule. git diff outputs the folder name only, not files under it
          mapping: |
            services/ipfs/.* run-build-ipfs true
            services/s3sync/.* run-build-s3 true
            h5ai-nginx run-build-repository true 
            src/monitor/.* run-build-monitor true
            src/server/.* run-build-server true
            services/core/.* run-build-core true
            services/verification/.* run-build-verification true
            services/validation/.* run-build-validation true
            ui/.* run-build-ui true
            ui-legacy/.* run-build-ui-legacy true
          # Compare against the last build of the branch not the default "main" branch
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/build-publish-deploy.yml
      # Has to run on all branches. Can't regex filter on add-chain-{chainId} branch names see: https://stackoverflow.com/questions/55839004/circleci-regex-filtering-match-within-string
      - continuation/continue:
          configuration_path: .circleci/test-new-chain.yml
      - continuation/continue:
          configuration_path: .circleci/node-build-and-test.yml

  continue-run-nightly:
    when: << pipeline.parameters.run-nightly >>
    jobs:
      - continuation/continue:
          configuration_path: .circleci/nightly.yml

  continue-run-test-chains-regularly:
    when: << pipeline.parameters.run-test-chains-regularly >>
    jobs: 
      - continuation/continue:
          configuration_path: .circleci/test-chains-regularly.yml

Fix fallback ipfs
  environments/.env.secrets.gpg
Due: none

fix refresh token
  ui/src/index.tsx
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/Create2Form/index.tsx
Due: run-build-ui

add missing offline_access to create2 tests
  test/helpers/helpers.js
Due: none

prevent running create2 tests for external PRs
  test/server.js
Due: none

Add chain 2021 (Edgeware EdgeEVM) (#1121)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

chain 314159 has been added, Filecoin Calibratioin Testnet (#1124)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Update chains.json
  services/ipfs/server/Dockerfile.ipfs
  services/ipfs/server/delete-old-pins.sh
  src/chains.json
Due: run-build-ipfs

Don't test unsupported chains
  package-lock.json
  test/chains/chain-tests.js
Due: none

Revert package-lock in "Don't test unsupported chains"
  package-lock.json
  test/chains/chain-tests.js
Due: none

Update for 2047 (#1122)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
  test/chains/deployContracts.js
Due: none

Debug compilation times
  packages/lib-sourcify/src/lib/solidityCompiler.ts
Due: none

Make the compilation spawn/exec async
  packages/lib-sourcify/src/lib/solidityCompiler.ts
Due: none

Fix missing /repository in api docs
  openapi.yaml
  src/server/controllers/repository/get-file-static.stateless.paths.yaml
Due: run-build-server

Check if all sourcify-chains are in chains.json
  src/sourcify-chains.ts
Due: none

Update chains.json
  src/chains.json
Due: none

Add FTM Fantom Opera mainnet 250 (#1131)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Add Arbitrum Nova 42170 (#1133)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Debug server in linux-amd64 container
  .vscode/launch.json
  environments/server.debug.linux-amd64.yaml
  src/Dockerfile.server.debug
Due: none

Fix asyncExecSolc
  packages/lib-sourcify/src/lib/solidityCompiler.ts
Due: none

Use Compiler in Worker for earlier versions (#1130)
  packages/lib-sourcify/src/lib/compilerWorker.ts
  packages/lib-sourcify/src/lib/solidityCompiler.ts
  packages/lib-sourcify/test/functions.spec.ts
  packages/lib-sourcify/test/sources/json-input/pre-v0.4.0/input.json
Due: none

Sanitize paths (#1132)
  src/server/services/RepositoryService.ts
  test/RepositoryService.test.js
  test/server.js
  test/testcontracts/path-sanitization/ERC20.json
  test/testcontracts/path-sanitization/metadata.json
  test/testcontracts/path-sanitization/sources/Context.sol
  test/testcontracts/path-sanitization/sources/IERC20.sol
  test/testcontracts/path-sanitization/sources/IERC20Metadata.sol
  test/testcontracts/path-sanitization/sources/SDGC.sol
Due: run-build-server

Add expected status arg in chain-tests
  test/chains/chain-tests.js
Due: none

Taiko L3 chainId 167006 (#1117)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Add chain 13337 (#1134)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
  test/chains/sources/multicall3/Multicall3.sol
  test/chains/sources/multicall3/multicall3.metadata.json
Due: none

Bump lib-sourcify version
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
Due: none

Allow "," in query param
  src/server/controllers/repository/check-all-by-addresses.stateless.paths.yaml
  src/server/controllers/repository/check-by-addresses.stateless.paths.yaml
Due: run-build-server

Log everything on non-production lib-sourcify
  packages/lib-sourcify/src/lib/logger.ts
Due: none

Handle ViaIRUnoptimized case, force solc-JS, test
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/solidityCompiler.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/sources/ViaIRUnoptimizedMismatch/artifact.json
  packages/lib-sourcify/test/sources/ViaIRUnoptimizedMismatch/metadata.json
  packages/lib-sourcify/test/sources/ViaIRUnoptimizedMismatch/sources/C.sol
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: none

fix etherscan key exposure
  package-lock.json
  src/common/errors/BadGatewayError.ts
  src/server/controllers/verification/etherscan/etherscan.common.ts
  tsconfig.json
Due: run-build-server

fix typo in etherscan url
  src/server/controllers/verification/etherscan/etherscan.common.ts
Due: run-build-server

feat(chain): adding chain kanazawa 222000222 (#1142)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
  test/chains/sources/222000222/multicall3.metadata.json
  test/chains/sources/multicall3/Multicall3.sol
  test/chains/sources/multicall3/multicall3.metadata.json
Due: none

Add chain 333000333 (#1141)
  .vscode/launch.json
  src/server/services/VerificationService-util.ts
  src/sourcify-chains.ts
  test/chains/chain-tests.js
  test/chains/sources/333000333/multicall3.metadata.json
Due: run-build-server

Revert "fix typo in etherscan url"
  src/server/controllers/verification/etherscan/etherscan.common.ts
Due: run-build-server

Revert "fix etherscan key exposure"
  package-lock.json
  src/common/errors/BadGatewayError.ts
  src/server/controllers/verification/etherscan/etherscan.common.ts
  tsconfig.json
Due: run-build-server

Add rate limiting to verif. endpoints
  src/server/server.ts
Due: run-build-server

Change rate limit to 1 req per 5sec
  src/server/server.ts
Due: run-build-server

Rate limit on stag. and prod. 3 req / 15 s
  src/server/server.ts
Due: run-build-server

Bump lib-sourcify, typo
  .vscode/launch.json
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
Due: none

fix ethers dependencies not working
  tsconfig.json
Due: none

fix etherscan key exposure
  package-lock.json
  src/common/errors/BadGatewayError.ts
  src/server/controllers/verification/etherscan/etherscan.common.ts
  test/etherscan.js
Due: run-build-server
