Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

.circleci/config.yml:

# Config that filters the build jobs: only run new builds for the paths that are changed.
# Runs the continue_config.yml subsequently.
version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# Pipeline parameters for nightly and regular test chain triggers.
parameters:
  run-nightly:
    type: boolean
    default: false
  run-test-chains-regularly:
    type: boolean
    default: false

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset see https://circleci.com/docs/2.0/using-dynamic-configuration/
orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

# Can add multiple workflows in setup since only one of these will run. Otherwise it's not possible: https://support.circleci.com/hc/en-us/articles/360060934851--Max-number-of-workflows-exceeded-error
workflows:
  always-run:
    # Don't run on scheduled pipelines.
    when:
      and:
        - not: << pipeline.parameters.run-nightly >>
        - not: << pipeline.parameters.run-test-chains-regularly >>
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      # runs build-publish-deploy on staging and master.
      - path-filtering/filter:
          filters:
            branches:
              only:
                - staging
                - master
          name: check-updated-files
          # h5ai-nginx without /.* part since it's a submodule. git diff outputs the folder name only, not files under it
          mapping: |
            services/ipfs/.* run-build-ipfs true
            services/s3sync/.* run-build-s3 true
            h5ai-nginx run-build-repository true 
            src/monitor/.* run-build-monitor true
            src/server/.* run-build-server true
            services/core/.* run-build-core true
            services/verification/.* run-build-verification true
            services/validation/.* run-build-validation true
            ui/.* run-build-ui true
            ui-legacy/.* run-build-ui-legacy true
          # Compare against the last build of the branch not the default "main" branch
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/build-publish-deploy.yml
      # Has to run on all branches. Can't regex filter on add-chain-{chainId} branch names see: https://stackoverflow.com/questions/55839004/circleci-regex-filtering-match-within-string
      - continuation/continue:
          configuration_path: .circleci/test-new-chain.yml
      - continuation/continue:
          configuration_path: .circleci/node-build-and-test.yml

  continue-run-nightly:
    when: << pipeline.parameters.run-nightly >>
    jobs:
      - continuation/continue:
          configuration_path: .circleci/nightly.yml

  continue-run-test-chains-regularly:
    when: << pipeline.parameters.run-test-chains-regularly >>
    jobs: 
      - continuation/continue:
          configuration_path: .circleci/test-chains-regularly.yml

Remove keys in /chains, rotate Etherscan keys
  environments/.env.secrets.gpg
  src/server/server.ts
Due: run-build-server

Add logs to LibSourcify
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  src/server/server.ts
Due: run-build-server

Increse EthScan instance test timeouts
  .vscode/launch.json
  test/etherscan/etherscanInstances.js
Due: none

Update chains.json
  src/chains.json
Due: none

Split IPFS nodes into Server and GW, update Kubo
  environments/ipfs.yaml
  services/ipfs/gateway/001-gateway-init.sh
  services/ipfs/server/Dockerfile.ipfs
  services/ipfs/server/README.md
  services/ipfs/server/cron.job
  services/ipfs/server/entrypoint.sh
  services/ipfs/server/init-config.sh
  services/ipfs/server/ipfs-latest.key.gpg
  services/ipfs/server/ipfs-stable.key.gpg
  services/ipfs/server/publish.sh
Due: run-build-ipfs

Fix running puppeteer in the container
  src/server/services/VerificationService-util.ts
Due: run-build-server

Throw on non 200 scraping, fix scraping test
  src/server/services/VerificationService-util.ts
  test/server.js
Due: run-build-server

Rtrn. undef in rpcUrl building for non empty rpc
  src/sourcify-chains.ts
Due: none

Avoid undefined rpc on object spread
  src/sourcify-chains.ts
Due: none

Add Base mainnet (8453) (#1112)
  environments/.env.latest
  environments/.env.secrets.gpg
  environments/.env.stable
  scripts/find_replace.sh
  src/config.ts
  src/sourcify-chains.ts
  test/chains/chain-tests.js
  test/helpers/etherscanInstanceContracts.json
Due: none

add chain 212 (#1109)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

add new chain for 22776 (#1113)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Remove ipfs files, log healthcheck
  services/ipfs/Dockerfile.ipfs
  services/ipfs/README.md
  services/ipfs/cron.job
  services/ipfs/entrypoint.sh
  services/ipfs/init-config.sh
  services/ipfs/ipfs-latest.key.gpg
  services/ipfs/ipfs-stable.key.gpg
  services/ipfs/publish.sh
  services/ipfs/server/Dockerfile.ipfs
Due: run-build-ipfs

Fix ipfs/server paths
  environments/build-ipfs.yaml
  scripts/decrypt.sh
  scripts/encrypt.sh
  scripts/find_replace.sh
Due: none

update secrets: new etherscan's api keys
  environments/.env.secrets.gpg
Due: none

Protect create2 verification with an auth0 authentication (#1090)
  environments/.env.dev
  environments/.env.latest
  environments/.env.stable
  openapi.yaml
  package-lock.json
  package.json
  src/common/errors/ForbiddenError.ts
  src/common/errors/UnauthorizedError.ts
  src/config.ts
  src/server/controllers/verification/create2/create2.common.ts
  src/server/controllers/verification/create2/session/create2.session.paths.yaml
  src/server/controllers/verification/create2/session/create2.session.routes.ts
  src/server/controllers/verification/create2/stateless/create2.stateless.paths.yaml
  src/server/controllers/verification/create2/stateless/create2.stateless.routes.ts
  src/server/controllers/verification/verification.common.ts
  src/server/server.ts
  test/helpers/helpers.js
  test/server.js
  ui/.env.development
  ui/.env.production
  ui/Dockerfile
  ui/package-lock.json
  ui/package.json
  ui/src/constants.ts
  ui/src/index.tsx
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/Create2Form/index.tsx
  ui/src/pages/Verifier/index.tsx
Due: run-build-server, run-build-ui

Fix ipfs server healthcheck
  services/ipfs/server/Dockerfile.ipfs
Due: run-build-ipfs

Remove ipfs server Healthcheck
  services/ipfs/server/Dockerfile.ipfs
Due: run-build-ipfs

Use dedicated fallback ipfs gw in monitor
  environments/.env.dev
  environments/.env.latest
  environments/.env.secrets.gpg
  environments/.env.stable
  scripts/find_replace.sh
  src/monitor/source-fetcher.ts
Due: run-build-monitor

--build containers, bring healtcheck back
  environments/ipfs.yaml
  services/ipfs/server/Dockerfile.ipfs
Due: run-build-ipfs

Final Healthcheck fix
  services/ipfs/server/Dockerfile.ipfs
Due: run-build-ipfs

Comment out the param
  .vscode/launch.json
Due: none

pass AUTH0 variable at build time while building the ui
  environments/build-ui.yaml
Due: none

use sign in instead of login for consistency
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/Create2Form/index.tsx
Due: run-build-ui

* update development environment vars for auth0
  ui/.env.development
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/Create2Form/index.tsx
Due: run-build-ui

force rebuild
  environments/.env.latest
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/Create2Form/index.tsx
Due: run-build-ui

force recompile
  test/server.js
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/Create2Form/index.tsx
Due: run-build-ui

remove trailing slash in ISSUERBASEURL in .env.latest
  environments/.env.latest
  src/server/controllers/verification/verification.common.ts
  test/helpers/helpers.js
  test/server.js
Due: run-build-server

remove protocol from domain when initializing Auth0Provider in ui
  environments/.env.dev
  ui/src/index.tsx
Due: run-build-ui

experiment auth0 alternative page for cookie management
  src/server/server.ts
Due: run-build-server

fix auth0 tests
  src/config.ts
  src/server/controllers/verification/verification.common.ts
  test/monitor.js
  test/server.js
  ui/.env.development
Due: run-build-server, run-build-ui

add auth0 env variables in every test file
  test/chains/chain-tests.js
  test/etherscan.js
  test/etherscan/etherscanInstances.js
  test/monitor.js
  test/server.js
Due: none

disable auth0 cookie safe page in server
  src/server/server.ts
Due: run-build-server

* add message error at can't fetch block warn * increase RPC_TIMEOUT default
  packages/lib-sourcify/src/lib/SourcifyChain.ts
Due: none

update ethers
  package-lock.json
  package.json
Due: none

update ethers in lib-sourcify
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
Due: none

update IPFS_GATEWAY to `ipfs-gateway-TAG` in env files
  environments/.env.latest
  environments/.env.stable
Due: none

experiment with Cross-Origin Resource Sharing
  src/server/server.ts
Due: run-build-server

bypass Intelligent Tracking Prevention with refresh tokens and cachelocation=localstorage
  src/server/server.ts
  ui/src/index.tsx
Due: run-build-server, run-build-ui
