Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

.circleci/config.yml:

# Config that filters the build jobs: only run new builds for the paths that are changed.
# Runs the continue_config.yml subsequently.
version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# Pipeline parameters for nightly and regular test chain triggers.
parameters:
  run-nightly:
    type: boolean
    default: false
  run-test-chains-regularly:
    type: boolean
    default: false

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset see https://circleci.com/docs/2.0/using-dynamic-configuration/
orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

# Can add multiple workflows in setup since only one of these will run. Otherwise it's not possible: https://support.circleci.com/hc/en-us/articles/360060934851--Max-number-of-workflows-exceeded-error
workflows:
  always-run:
    # Don't run on scheduled pipelines.
    when:
      and:
        - not: << pipeline.parameters.run-nightly >>
        - not: << pipeline.parameters.run-test-chains-regularly >>
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      # runs build-publish-deploy on staging and master.
      - path-filtering/filter:
          filters:
            branches:
              only:
                - staging
                - master
          name: check-updated-files
          # h5ai-nginx without /.* part since it's a submodule. git diff outputs the folder name only, not files under it
          mapping: |
            services/ipfs/.* run-build-ipfs true
            services/s3sync/.* run-build-s3 true
            h5ai-nginx run-build-repository true 
            src/monitor/.* run-build-monitor true
            src/server/.* run-build-server true
            services/core/.* run-build-core true
            services/verification/.* run-build-verification true
            services/validation/.* run-build-validation true
            ui/.* run-build-ui true
            ui-legacy/.* run-build-ui-legacy true
          # Compare against the last build of the branch not the default "main" branch
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/build-publish-deploy.yml
      # Has to run on all branches. Can't regex filter on add-chain-{chainId} branch names see: https://stackoverflow.com/questions/55839004/circleci-regex-filtering-match-within-string
      - continuation/continue:
          configuration_path: .circleci/test-new-chain.yml
      - continuation/continue:
          configuration_path: .circleci/node-build-and-test.yml

  continue-run-nightly:
    when: << pipeline.parameters.run-nightly >>
    jobs:
      - continuation/continue:
          configuration_path: .circleci/nightly.yml

  continue-run-test-chains-regularly:
    when: << pipeline.parameters.run-test-chains-regularly >>
    jobs: 
      - continuation/continue:
          configuration_path: .circleci/test-chains-regularly.yml

create2: add environment variable
  environments/.env.dev
  environments/.env.latest
  environments/.env.secrets.gpg
  scripts/find_replace.sh
  src/server/controllers/VerificationController.ts
Due: run-build-server

create2: add Create2ConstructorArgument interface
  services/core/src/utils/types.ts
  services/verification/src/services/Injector.ts
Due: run-build-core, run-build-verification

create2: fix tests
  services/core/src/utils/CheckedContract.ts
  src/server/controllers/VerificationController.ts
  test/server.js
Due: run-build-server, run-build-core

Update scripts/find_replace.sh
  scripts/find_replace.sh
Due: none

create2: remove forgotted TODO comment
  src/server/controllers/VerificationController.ts
Due: run-build-server

create2: change performFetch's documentation
  services/core/src/utils/CheckedContract.ts
Due: run-build-core

create2: add tests and add validation to create2 apis
  services/verification/src/services/Injector.ts
  src/server/controllers/VerificationController.ts
  test/server.js
  test/testcontracts/Create2/Account.sol
  test/testcontracts/Create2/metadata.json
Due: run-build-server, run-build-verification

add missing create2 key in .env.stable
  environments/.env.stable
Due: none

Update chains.json
  services/core/src/chains.json
Due: run-build-core

Add chain 8217
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

Update create2 client tokens without @ delimiter
  environments/.env.secrets.gpg
Due: none

Change conditional CI builds
  .circleci/config.yml
  .circleci/continue_config.yml
  environments/.env.secrets.gpg
Due: none

Base64 encode the create2 tokens
  environments/.env.secrets.gpg
Due: none

Remove old Chiado 1 Testnet from chains.json
  services/core/src/chains.json
Due: run-build-core

create2 tests now uses local ganache network
  test/server.js
  test/testcontracts/Create2/Account.sol
  test/testcontracts/Create2/bytecode.hex
  test/testcontracts/Create2/metadata.json
Due: none

Add chain 336 (Shiden - EVM)
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

Update rpc endpoint
  services/core/src/sourcify-chains.ts
Due: run-build-core

Add explicit rpc specification
  services/core/src/sourcify-chains.ts
Due: run-build-core

Remove Shiden (EVM) explicit RPC specification
  services/core/src/sourcify-chains.ts
Due: run-build-core

add npm script to update chains
  package.json
  scripts/updateChains.mjs
  services/core/src/chains.json
Due: run-build-core

add prettier for prettifying chains.json
  package-lock.json
  package.json
Due: none

Add chain 28528 (Optimism Bedrock Alpha)
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

Move prettier to devDependencies
  package-lock.json
  package.json
Due: none

Update land. page video with Devcon talk Swarm
  ui/src/pages/LandingPage/index.tsx
Due: run-build-ui

fix #834 add chainId property to Match interface
  services/core/src/services/FileService.ts
  services/core/src/utils/types.ts
  services/verification/src/services/Injector.ts
  src/server/controllers/VerificationController.ts
  ui/src/types.ts
Due: run-build-server, run-build-core, run-build-verification, run-build-ui

Add bytecode-utils pkg. for cbor decoding and splitting
  .vscode/launch.json
  lerna.json
  package-lock.json
  package.json
  packages/bytecode-utils/.eslintrc.json
  packages/bytecode-utils/.gitignore
  packages/bytecode-utils/.prettierignore
  packages/bytecode-utils/LICENSE
  packages/bytecode-utils/README.md
  packages/bytecode-utils/package-lock.json
  packages/bytecode-utils/package.json
  packages/bytecode-utils/src/index.ts
  packages/bytecode-utils/src/lib/bytecode.spec.ts
  packages/bytecode-utils/src/lib/bytecode.ts
  packages/bytecode-utils/src/lib/bytecodes/bzzr1.hex
  packages/bytecode-utils/src/lib/bytecodes/experimental.hex
  packages/bytecode-utils/src/lib/bytecodes/ipfs.hex
  packages/bytecode-utils/src/lib/bytecodes/without0x.hex
  packages/bytecode-utils/src/lib/bytecodes/withoutauxdata.hex
  packages/bytecode-utils/src/lib/bytecodes/wrong.hex
  packages/bytecode-utils/tsconfig.json
  packages/bytecode-utils/tsconfig.module.json
  scripts/publish_to_npm.sh
  services/core/package-lock.json
  services/core/package.json
  services/core/src/utils/types.ts
  services/core/src/utils/utils.ts
  services/verification/package.json
  services/verification/src/services/Injector.ts
  src/monitor/monitor.ts
  src/monitor/util.ts
  src/server/controllers/VerificationController.ts
  test/helpers/helpers.js
Due: run-build-monitor, run-build-server, run-build-core, run-build-verification

fix monitor and server build by adding COPY bytecode-utils
  src/Dockerfile.monitor
  src/Dockerfile.server
Due: none

improve ipfs service * injector: first add then files.cp * update ipfs deamon * add DEBUG functionalities * split .ipfs and repo
  environments/ipfs.yaml
  services/ipfs/Dockerfile.ipfs
  services/ipfs/README.md
  services/ipfs/entrypoint.sh
  services/ipfs/init-config.sh
  services/ipfs/publish.sh
  services/verification/src/services/Injector.ts
Due: run-build-ipfs, run-build-verification

Turn on Typescript strict null check (#847)
  .nvmrc
  package-lock.json
  package.json
  packages/bytecode-utils/package-lock.json
  packages/bytecode-utils/package.json
  packages/bytecode-utils/tsconfig.json
  services/core/package-lock.json
  services/core/package.json
  services/core/src/sourcify-chains.ts
  services/core/src/utils/CheckedContract.ts
  services/core/src/utils/types.ts
  services/core/src/utils/utils.ts
  services/core/tsconfig.json
  services/validation/package-lock.json
  services/validation/package.json
  services/validation/src/ValidationService.ts
  services/validation/tsconfig.json
  services/verification/README.md
  services/verification/package-lock.json
  services/verification/package.json
  services/verification/src/services/Injector.ts
  services/verification/src/services/VerificationService.ts
  services/verification/src/utils.ts
  services/verification/tsconfig.json
  src/config.ts
  src/monitor/gateway.ts
  src/monitor/monitor.ts
  src/monitor/pending-contract.ts
  src/monitor/source-fetcher.ts
  src/monitor/util.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  tsconfig.json
  ui/package-lock.json
  ui/package.json
  ui/src/types.ts
  ui/tsconfig.json
Due: run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui

Chain 8217 - update contract fetch address (#848)
  services/core/src/sourcify-chains.ts
Due: run-build-core

Chain 1001 - update contract fetch address (#849)
  services/core/src/sourcify-chains.ts
Due: run-build-core

ipfs-fix bash instead of sh
  services/ipfs/entrypoint.sh
  services/ipfs/publish.sh
Due: run-build-ipfs

remove garbage collector option from ipfs daemon
  services/ipfs/entrypoint.sh
Due: run-build-ipfs

Add truffle-plugin-verify to landing page
  ui/src/assets/integrations/truffle.png
  ui/src/pages/LandingPage/ToolsPlugin.tsx
Due: run-build-ui

ipfs-fix: temporarily disable healthcheck in dockerfile
  services/ipfs/Dockerfile.ipfs
Due: run-build-ipfs

ipfs-fix: start the daemon before adding files and restore healthcheck
  services/ipfs/Dockerfile.ipfs
  services/ipfs/entrypoint.sh
Due: run-build-ipfs

ipfs-fix: restore await for addToIpfsMfs method
  services/verification/src/services/Injector.ts
Due: run-build-verification

Add number of chains supported to landing page
  ui/src/pages/LandingPage/index.tsx
Due: run-build-ui
