Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

.circleci/config.yml:

# Config that filters the build jobs: only run new builds for the paths that are changed.
# Runs the continue_config.yml subsequently.
version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# Pipeline parameters for nightly and regular test chain triggers.
parameters:
  run-nightly:
    type: boolean
    default: false
  run-test-chains-regularly:
    type: boolean
    default: false

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset see https://circleci.com/docs/2.0/using-dynamic-configuration/
orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

# Can add multiple workflows in setup since only one of these will run. Otherwise it's not possible: https://support.circleci.com/hc/en-us/articles/360060934851--Max-number-of-workflows-exceeded-error
workflows:
  always-run:
    # Don't run on scheduled pipelines.
    when:
      and:
        - not: << pipeline.parameters.run-nightly >>
        - not: << pipeline.parameters.run-test-chains-regularly >>
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      # runs build-publish-deploy on staging and master.
      - path-filtering/filter:
          filters:
            branches:
              only:
                - staging
                - master
          name: check-updated-files
          # h5ai-nginx without /.* part since it's a submodule. git diff outputs the folder name only, not files under it
          mapping: |
            services/ipfs/.* run-build-ipfs true
            services/s3sync/.* run-build-s3 true
            h5ai-nginx run-build-repository true 
            src/monitor/.* run-build-monitor true
            src/server/.* run-build-server true
            services/core/.* run-build-core true
            services/verification/.* run-build-verification true
            services/validation/.* run-build-validation true
            ui/.* run-build-ui true
            ui-legacy/.* run-build-ui-legacy true
          # Compare against the last build of the branch not the default "main" branch
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/build-publish-deploy.yml
      # Has to run on all branches. Can't regex filter on add-chain-{chainId} branch names see: https://stackoverflow.com/questions/55839004/circleci-regex-filtering-match-within-string
      - continuation/continue:
          configuration_path: .circleci/test-new-chain.yml
      - continuation/continue:
          configuration_path: .circleci/node-build-and-test.yml

  continue-run-nightly:
    when: << pipeline.parameters.run-nightly >>
    jobs:
      - continuation/continue:
          configuration_path: .circleci/nightly.yml

  continue-run-test-chains-regularly:
    when: << pipeline.parameters.run-test-chains-regularly >>
    jobs: 
      - continuation/continue:
          configuration_path: .circleci/test-chains-regularly.yml

Fix monitor not logging
  src/monitor/monitor.ts
Due: run-build-monitor

Typo
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: none

Fix grafana-loki volume
  environments/grafana.yaml
Due: none

Verbose monitor logs
  src/common/SourcifyEventManager/SourcifyEventManager.ts
  src/monitor/monitor.ts
Due: run-build-monitor

added dex.guru to powered by section
  ui/src/assets/integrations/dexGuru.svg
  ui/src/assets/integrations/dexGuruOptimism.png
  ui/src/pages/LandingPage/CustomCarousel.tsx
  ui/src/pages/LandingPage/PoweredBySourcify.tsx
Due: run-build-ui

Add New Chain 6119 (SK) (#1063)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
  test/chains/sources/6119/ERC4906.sol
  test/chains/sources/6119/IUPTNAddressValidator.sol
  test/chains/sources/6119/UptnNFTsV1.metadata.json
  test/chains/sources/6119/UptnNFTsV1.sol
Due: none

Kill entrypoint.sh to exit ipfs container
  services/ipfs/Dockerfile.ipfs
Due: run-build-ipfs

Fix prometheus data persistance
  environments/grafana.yaml
Due: none

Return 429 on Etherscan rate limit"
  src/common/errors/TooManyRequests.ts
  src/server/controllers/verification/etherscan/etherscan.common.ts
  src/server/controllers/verification/etherscan/session/etherscan.session.paths.yaml
  src/server/controllers/verification/etherscan/stateless/etherscan.stateless.paths.yaml
  test/etherscan.js
Due: run-build-server

Implement logging for LibSourcify (#1082)
  packages/lib-sourcify/README.md
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/logger.ts
  packages/lib-sourcify/src/lib/solidityCompiler.ts
  packages/lib-sourcify/src/lib/verification.ts
  src/server/server.ts
Due: run-build-server

Update contract-call-decoder package-lock
  packages/contract-call-decoder/package-lock.json
Due: none

Remove web3js in server and monitor
  package-lock.json
  package.json
  src/common/SourcifyEventManager/SourcifyEventManager.ts
  src/monitor/monitor.ts
  src/monitor/pending-contract.ts
  src/server/common.ts
  src/server/controllers/verification/verification.common.ts
  src/server/services/RepositoryService.ts
Due: run-build-monitor, run-build-server

Delete unused test/utils.js
  test/utils.js
Due: none

Fix .only in tests
  packages/lib-sourcify/test/verification.spec.ts
Due: none

Remove web3js in monitor tests, refactor monitor
  src/common/SourcifyEventManager/SourcifyEventManager.ts
  src/monitor/monitor.ts
  src/server/server.ts
  test/chains/deployContracts.js
  test/helpers/ContractWrapper.js
  test/helpers/assertions.js
  test/helpers/helpers.js
  test/monitor.js
Due: run-build-monitor, run-build-server

Remove Web3 in lib-sourcify
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/hashFunctions/swarmHash.ts
  packages/lib-sourcify/src/lib/validation.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: none

Refactor malicious creationBytecode test
  packages/lib-sourcify/test/sources/WithImmutablesCreationBytecodeAttack/artifact.json
  packages/lib-sourcify/test/verification.spec.ts
Due: none

Remove web3js from server tests
  test/chains/deployContracts.js
  test/helpers/helpers.js
  test/server.js
Due: none

Revert chainId to number in monitor
  src/common/SourcifyEventManager/SourcifyEventManager.ts
  src/monitor/monitor.ts
Due: run-build-monitor

Turn off support for Stratos. Fix Ganache in tests
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

disable codecov comments in PRs
  codecov.yml
Due: none

Add Kava Mainnet Chain (2222) (#1087)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Avoid JsonRpc retry in 1s, use staticNetwork
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/verification.spec.ts
  test/monitor.js
  test/server.js
Due: none

Add chain 61 (#1077)
  src/server/services/VerificationService-util.ts
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-server

add chain 314, Filecoin mainnet
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Add Zilliqa EVM chain (32769)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Add Zilliqa Testnet EVM chain (33101)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Add Kava Testnet Chain (2221)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Remove Postman collection, update license year
  LICENSE
  Sourcify.postman_collection.json
Due: none

Add chain 111000 (#1093)
  src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: none

Blockscout scraping (#1092)
  .circleci/continue_config.yml
  .circleci/new_branch.yml
  .gitignore
  package-lock.json
  package.json
  packages/bytecode-utils/.gitignore
  packages/bytecode-utils/package-lock.json
  packages/bytecode-utils/package.json
  packages/contract-call-decoder/.gitignore
  packages/contract-call-decoder/package-lock.json
  packages/contract-call-decoder/package.json
  packages/lib-sourcify/.gitignore
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/lib/types.ts
  src/Dockerfile.monitor
  src/Dockerfile.server
  src/server/services/VerificationService-util.ts
  src/sourcify-chains.ts
  test/server.js
Due: run-build-server

Fix sudo when apt-get in containers
  src/Dockerfile.monitor
  src/Dockerfile.server
Due: none

Bump package versions
  packages/bytecode-utils/package-lock.json
  packages/bytecode-utils/package.json
  packages/contract-call-decoder/package-lock.json
  packages/contract-call-decoder/package.json
  packages/lib-sourcify/package-lock.json
  packages/lib-sourcify/package.json
Due: none

use new metacoin-source-verify with hardhat
  scripts/monitor_ci.js
  scripts/verification-e2e.js
  scripts/verification-e2e.sh
Due: none

keep waiting 60 seconds after deployment of salted contract in verification-e2e test
  scripts/verification-e2e.sh
Due: none

Catch auxdata decode error when checking for perfect match
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: none

Add ethpandaops nodes credentials
  environments/.env.dev
  environments/.env.latest
  environments/.env.secrets.gpg
  environments/.env.stable
  scripts/find_replace.sh
  src/common/SourcifyEventManager/SourcifyEventManager.ts
  src/sourcify-chains.ts
Due: none

Use SourcifyChain class with providers
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/verification.spec.ts
  src/common/SourcifyEventManager/SourcifyEventManager.ts
  src/monitor/monitor.ts
  src/server/controllers/verification/session-state/session-state.handlers.ts
  src/server/server.ts
  src/sourcify-chains.ts
Due: run-build-monitor, run-build-server

Add Alchemy Sepolia
  src/sourcify-chains.ts
Due: none
