Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

Fix Changelog dates
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/contract-call-decoder/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
Due: none

Clean up getCreatorTx logic in Verif. Service
  src/server/services/VerificationService.ts
  src/server/services/utils/contract-creation-util.ts
Due: run-build-server

Rename values to transformationValues
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  src/server/services/RepositoryService.ts
  src/server/services/utils/alliance-database-util.ts
Due: run-build-server

Consistently name as onchain instead of deployed..
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  src/server/services/RepositoryService.ts
Due: run-build-server

Catch if creationBytecode can't be fetched
  packages/lib-sourcify/src/lib/verification.ts
Due: none

Explicit rename Immutabe-, LibraryTransformation
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
Due: none

rename containsMetadataHash,fix perfect match logic
  packages/lib-sourcify/src/lib/verification.ts
Due: none

Fix matchWithCreationTx logic
  packages/lib-sourcify/src/lib/verification.ts
Due: none

Rename deployedBytecode to runtimeBytecode
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: none

Add callprotectiontrans.. as seprate type
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
Due: none

Save immutable transformation values
  packages/lib-sourcify/src/lib/verification.ts
Due: none

Remove matchWithSimulation
  packages/lib-sourcify/src/lib/verification.ts
Due: none

fix import from github endpoint
  ui/src/pages/Verifier/GitHubInput.tsx
Due: run-build-ui

Remove old monitor tests
  test/monitor.js
Due: none

Remove one test, remove log
  package-lock.json
  services/monitor/test/Monitor.test.ts
  services/monitor/test/helpers.ts
Due: none

Turn off the alliance DB
  src/server/services/RepositoryService.ts
Due: run-build-server

Fix build
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: none

Fix lint
  packages/lib-sourcify/src/lib/CheckedContract.ts
  src/server/controllers/repository/repository.routes.ts
  src/server/services/RepositoryService.ts
Due: run-build-server

fix input from remote ui endpoint
  ui/src/pages/Verifier/RemoteInput.tsx
Due: run-build-ui

fix wrong example in /verify swagger
  src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
Due: run-build-server

Fix type error
  services/monitor/src/index.ts
Due: none

Fix deepMerge with empty object
  services/monitor/src/Monitor.ts
Due: none

Remove lib-sourcify type def. directories
  packages/lib-sourcify/tsconfig.json
Due: none

Remove sourceFetcher tests
  test/sourceFetcher.js
Due: none

Fix structuredClone not existing in node v16
  services/monitor/src/PendingContract.ts
Due: none

Remove Sourcify CLI tests
  test/sourcify.js
Due: none

Change Mock server name and document
  services/monitor/test/Monitor.test.ts
  services/monitor/test/helpers.ts
Due: none

Add FUNDING.json #1188
  FUNDING.json
Due: none

add "Get in touch section" in the UI
  ui/src/assets/discord.svg
  ui/src/assets/matrix.svg
  ui/src/pages/LandingPage/index.tsx
Due: run-build-ui

fix _blank links without noreferrer
  ui/src/pages/LandingPage/index.tsx
Due: run-build-ui

Bump versions, add Changelogs
  package-lock.json
  package.json
  packages/lib-sourcify/CHANGELOG.md
  packages/lib-sourcify/package.json
  services/monitor/CHANGELOG.md
  services/monitor/package.json
  ui/CHANGELOG.md
  ui/package.json
Due: run-build-ui

implement filter for already active verifications
  src/common/errors/ContractIsAlreadyBeingVerifiedError.ts
  src/server/services/VerificationService.ts
Due: run-build-server

Typo in ui Changelog
  ui/CHANGELOG.md
Due: run-build-ui

Fix missing versions
  package-lock.json
  services/monitor/src/version.ts
Due: none

change lerna version allowBranch to master
  lerna.json
Due: none

remove "--no-git-tag-version" in lerna version
  package.json
Due: none

fix infinite loop with lerna version
  package.json
Due: none

chore(release): publish
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/contract-call-decoder/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  ui/package.json
Due: run-build-ui

update changelogs
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/contract-call-decoder/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/monitor/CHANGELOG.md
  ui/CHANGELOG.md
Due: run-build-ui

In the "should fetch files of specific address" test, wait for the server to complete the previous contract verification
  test/server.js
Due: none

Path conditions:
  run-build-ipfs: any of: services/ipfs/.*
  run-build-s3: any of: services/s3sync/.*
  run-build-repository: any of: h5ai-nginx
  run-build-monitor: any of: src/monitor/.*
  run-build-server: any of: src/server/.*
  run-build-core: any of: services/core/.*
  run-build-verification: any of: services/verification/.*
  run-build-validation: any of: services/validation/.*
  run-build-ui: any of: ui/.*
  run-build-ui-legacy: any of: ui-legacy/.*
