Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

.circleci/config.yml:

# Config that filters the build jobs: only run new builds for the paths that are changed.
# Runs the continue_config.yml subsequently.
version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# Pipeline parameters for nightly and regular test chain triggers.
parameters:
  run-nightly:
    type: boolean
    default: false
  run-test-chains-regularly:
    type: boolean
    default: false

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset see https://circleci.com/docs/2.0/using-dynamic-configuration/
orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

# Can add multiple workflows in setup since only one of these will run. Otherwise it's not possible: https://support.circleci.com/hc/en-us/articles/360060934851--Max-number-of-workflows-exceeded-error
workflows:
  always-run:
    # Don't run on scheduled pipelines.
    when:
      and:
        - not: << pipeline.parameters.run-nightly >>
        - not: << pipeline.parameters.run-test-chains-regularly >>
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      # runs build-publish-deploy on staging and master.
      - path-filtering/filter:
          filters:
            branches:
              only:
                - staging
                - master
          name: check-updated-files
          # h5ai-nginx without /.* part since it's a submodule. git diff outputs the folder name only, not files under it
          mapping: |
            services/ipfs/.* run-build-ipfs true
            services/s3sync/.* run-build-s3 true
            h5ai-nginx run-build-repository true 
            src/monitor/.* run-build-monitor true
            src/server/.* run-build-server true
            services/core/.* run-build-core true
            services/verification/.* run-build-verification true
            services/validation/.* run-build-validation true
            ui/.* run-build-ui true
            ui-legacy/.* run-build-ui-legacy true
          # Compare against the last build of the branch not the default "main" branch
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/build-publish-deploy.yml
      # Has to run on all branches. Can't regex filter on add-chain-{chainId} branch names see: https://stackoverflow.com/questions/55839004/circleci-regex-filtering-match-within-string
      - continuation/continue:
          configuration_path: .circleci/test-new-chain.yml
      - continuation/continue:
          configuration_path: .circleci/node-build-and-test.yml

  continue-run-nightly:
    when: << pipeline.parameters.run-nightly >>
    jobs:
      - continuation/continue:
          configuration_path: .circleci/nightly.yml

  continue-run-test-chains-regularly:
    when: << pipeline.parameters.run-test-chains-regularly >>
    jobs: 
      - continuation/continue:
          configuration_path: .circleci/test-chains-regularly.yml

add grafana loki host env variable
  environments/.env.dev
  environments/.env.latest
  environments/.env.stable
  services/core/src/utils/loggerLoki.ts
Due: run-build-core

fix loki host in latest and stable
  environments/.env.latest
  environments/.env.stable
Due: none

add GRAFANA_LOKI_URL variable
  environments/.env.dev
  environments/.env.latest
  environments/.env.stable
  services/core/src/utils/loggerLoki.ts
Due: run-build-core

update IPFS_GATEWAY default in monitor tests
  test/monitor.js
Due: none

Update environments/.env.dev
  environments/.env.dev
Due: none

set 13xxx as grafana external ports
  environments/.env.latest
  environments/.env.stable
Due: none

force redeploy
  services/core/src/utils/loggerLoki.ts
Due: run-build-core

force IPFS_GATEWAY before running /session/input-contract
  test/server.js
Due: none

Change create2 api, create2 logic, typings, tests
  services/core/src/utils/types.ts
  services/verification/src/services/Injector.ts
  services/verification/src/services/VerificationService.ts
  services/verification/src/utils.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  test/server.js
  test/testcontracts/Create2/Account.sol
  test/testcontracts/Create2/Deployer.json
  test/testcontracts/Create2/Deployer.sol
  test/testcontracts/Create2/Deployer_metadata.json
  test/testcontracts/Create2/Wallet.json
  test/testcontracts/Create2/Wallet.sol
  test/testcontracts/Create2/Wallet_metadata.json
  test/testcontracts/Create2/bytecode.hex
  test/testcontracts/Create2/metadata.json
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/Create2Form/index.tsx
  ui/src/types.ts
Due: run-build-server, run-build-core, run-build-verification, run-build-ui

add comment in addInputContractEndpoint // verifyValidated fetches missing files from the contract
  src/server/controllers/VerificationController.ts
Due: run-build-server

Change msgSender.txt to contextVariables.json
  services/core/src/services/FileService.ts
  services/core/src/utils/types.ts
  services/verification/src/services/Injector.ts
  test/server.js
Due: run-build-core, run-build-verification

add script to verify massively a whole chainId folder in the repo
  scripts/verify-massively.mjs
Due: none

Update chains.json
  services/core/src/chains.json
Due: run-build-core

Fix for Error: ENOENT: no such file or directory
  src/config.ts
  test/server.js
Due: none

Explainer for the salt value in form
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/Create2Form/index.tsx
Due: run-build-ui

Fix throwing when no txFetchAddress exists
  services/verification/src/services/Injector.ts
  test/testcontracts/FactoryImmutableWithoutConstrArg/Child2.json
  test/testcontracts/FactoryImmutableWithoutConstrArg/Child2_metadata.json
  test/testcontracts/FactoryImmutableWithoutConstrArg/Factory2.json
  test/testcontracts/FactoryImmutableWithoutConstrArg/Factory2_metadata.json
  test/testcontracts/FactoryImmutableWithoutConstrArg/FactoryTest3.sol
Due: run-build-verification

Tests for "simulation" with empty const. arguments
  test/server.js
  test/testcontracts/FactoryImmutableWithoutConstrArg/Child2.json
  test/testcontracts/FactoryImmutableWithoutConstrArg/Child3.json
  test/testcontracts/FactoryImmutableWithoutConstrArg/Child3_metadata.json
  test/testcontracts/FactoryImmutableWithoutConstrArg/Factory2.json
  test/testcontracts/FactoryImmutableWithoutConstrArg/Factory3.json
  test/testcontracts/FactoryImmutableWithoutConstrArg/Factory3_metadata.json
  test/testcontracts/FactoryImmutableWithoutConstrArg/FactoryTest3.sol
Due: none

Add chain 432204 (Dexalot Mainnet) (#859)
  services/core/src/sourcify-chains.ts
  services/verification/src/services/Injector.ts
  test/chains/chain-tests.js
Due: run-build-core, run-build-verification

Handle nightly compiler CBOR encodings
  packages/bytecode-utils/src/lib/bytecode.ts
Due: none

Handle fetching compiler for nightlies
  services/verification/src/utils.ts
Due: run-build-verification

Add contract-call-decoder in npm publish script
  scripts/publish_to_npm.sh
Due: none

Update contract-call-decoder README
  packages/contract-call-decoder/README.md
Due: none

Typos: contract-call-decoder README
  packages/contract-call-decoder/README.md
Due: none

Nest under contextVariables in request
  services/core/src/utils/types.ts
  services/verification/README.md
  services/verification/src/services/Injector.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  test/server.js
Due: run-build-server, run-build-core, run-build-verification

Add Oasis Emerald Mainnet (#882)
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

Add Oasis Emerald Testnet (#880)
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

sourcify-chains: Add Oasis Sapphire Testnet
  services/core/src/sourcify-chains.ts
Due: run-build-core

chain-tests: Add Oasis Sapphire Testnet
  test/chains/chain-tests.js
Due: none

Update contract-call-decoder README
  packages/contract-call-decoder/README.md
  packages/contract-call-decoder/package-lock.json
  packages/contract-call-decoder/package.json
Due: none

Update solc-js
  services/verification/package-lock.json
  services/verification/package.json
Due: run-build-verification

Update verify-validated payload
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
  ui/src/types.ts
Due: run-build-ui

Fix UI inputs
  ui/src/components/ConstructorArguments.tsx
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
Due: run-build-ui

Bugfix: Creation data returns always null
  services/verification/src/services/Injector.ts
Due: run-build-verification

Update Celo Mainnet Endpoint
  services/core/src/sourcify-chains.ts
Due: run-build-core

Remove too long logging contents
  packages/bytecode-utils/package.json
  services/core/src/services/EventManager/index.ts
  services/verification/src/services/Injector.ts
  services/verification/src/utils.ts
Due: run-build-core, run-build-verification

Change secret
  environments/.env.secrets.gpg
Due: none

Trigger S3 build
  services/s3sync/entrypoint.sh
Due: run-build-s3

Encrypt ipfs keys
  environments/.env.secrets.gpg
  scripts/encrypt.sh
  services/ipfs/ipfs-latest.key.gpg
  services/ipfs/ipfs-stable.key.gpg
Due: run-build-ipfs

Remove Oasis Sapphire until immutable contracts are supported
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core
