Repository develuxes/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-ipfs, run-build-s3, run-build-repository, run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation, run-build-ui, run-build-ui-legacy

Add sepolia fallback RPC
  services/core/src/sourcify-chains.ts
Due: run-build-core

Update resources, add Foundry to UI
  ui/src/assets/integrations/foundry.png
  ui/src/pages/LandingPage/ToolsPlugin.tsx
  ui/src/pages/LandingPage/index.tsx
Due: run-build-ui

Twitter card
  ui/public/index.html
  ui/public/sourcify-eth-card.png
  ui/public/sourcify-eth-transparent.png
Due: run-build-ui

Switch to summary style card
  ui/public/index.html
  ui/public/sourcify_blue_rounded.png
Due: run-build-ui

Update chains.json
  services/core/src/chains.json
Due: run-build-core

fix function "findContractPathFromContractName"
  src/server/controllers/VerificationController-util.ts
Due: run-build-server

add tests
  test/server.js
Due: none

restore previous method to find contract path
  services/verification/src/services/VerificationService.ts
  services/verification/src/utils.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
Due: run-build-server, run-build-verification

implement tests for etherscan verification
  test/server.js
Due: none

handle errors in verifyFromEtherscanWithSession
  src/server/controllers/VerificationController.ts
Due: run-build-server

tests fro verifyFromEtherscanWithSession errors
  test/server.js
Due: none

change error type to be compatible with ui
  src/server/controllers/VerificationController.ts
  test/server.js
Due: run-build-server

implement buttons to show import methods details
  ui/src/components/Button/index.tsx
  ui/src/components/EtherscanLogo/index.tsx
  ui/src/components/EtherscanLogo/logo/etherscan-logo-circle.svg
  ui/src/components/EtherscanLogo/logo/etherscan-logo-light-circle.svg
  ui/src/pages/LandingPage/index.tsx
  ui/src/pages/Verifier/FileUpload.tsx
Due: run-build-ui

handle etherscan api rate limit error
  src/server/controllers/VerificationController.ts
  test/server.js
Due: run-build-server

Add chain 420666 (#788)
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

prefer title (if available) as sorting key for the sorted chains array
  services/core/src/utils/utils.ts
Due: run-build-core

implement import from github only ui
  ui/src/components/EtherscanLogo/index.tsx
  ui/src/components/GitHubBranchSelect/index.tsx
  ui/src/components/GitHubBranchSelect/style.css
  ui/src/pages/Verifier/FileUpload.tsx
  ui/src/pages/Verifier/GitHubInput.tsx
  ui/src/pages/Verifier/RemoteInput.tsx
Due: run-build-ui

handle github urls in import from github
  ui/src/pages/Verifier/GitHubInput.tsx
Due: run-build-ui

implement import from github
  ui/src/components/GitHubBranchSelect/index.tsx
  ui/src/pages/Verifier/GitHubInput.tsx
Due: run-build-ui

import from github: handle and show errors
  ui/src/components/GitHubBranchSelect/index.tsx
  ui/src/pages/Verifier/GitHubInput.tsx
Due: run-build-ui

fix tests
  test/server.js
Due: none

return partial match if the bytecode doesn't contains metadata
  services/verification/src/services/Injector.ts
Due: run-build-verification

Responsive import btns, edit Button
  ui/src/components/Button/index.tsx
  ui/src/pages/LandingPage/index.tsx
  ui/src/pages/Lookup/Result.tsx
  ui/src/pages/Verifier/FileUpload.tsx
Due: run-build-ui

fix sepolia tests
  services/core/src/sourcify-chains.ts
Due: run-build-core

Add Arbitrum Goerli
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
  test/chains/deployContracts.js
Due: run-build-core

Add chain 300
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

fix monitor tests
  test/monitor.js
Due: none

remove optimistic kovan from sourcify chains
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

add: 7700 canto mainnet test contracts (#792)
  services/core/src/sourcify-chains.ts
  test/chains/chain-tests.js
Due: run-build-core

implement check-s3-backup job
  .circleci/nightly.yml
  scripts/check-s3-backup.mjs
  scripts/verification-e2e.js
Due: none

Remove featured project issue template
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_project.yml
Due: none

Fix sepolia chainId converted to sci. not. nightly
  .circleci/nightly.yml
Due: none

align the verify from etherscan legacy response with the other legacy responses
  src/server/controllers/VerificationController.ts
Due: run-build-server

lint fix all code add rule to 2 spaces indent
  .eslintrc.js
  package.json
  services/core/src/services/FileService.ts
  services/core/src/sourcify-chains.ts
  services/core/src/utils/CheckedContract.ts
  services/core/src/utils/logger.ts
  services/core/src/utils/utils.ts
  services/validation/src/ValidationService.ts
  services/validation/src/index.ts
  services/verification/src/services/Injector.ts
  services/verification/src/services/VerificationService.ts
  services/verification/src/utils.ts
  src/common/errors/BadRequestError.ts
  src/common/errors/InternalServerError.ts
  src/common/errors/NotFoundError.ts
  src/common/errors/PayloadTooLargeError.ts
  src/common/errors/ValidationError.ts
  src/common/validators/validators.ts
  src/config.ts
  src/monitor/gateway.ts
  src/monitor/monitor.ts
  src/monitor/pending-contract.ts
  src/monitor/source-fetcher.ts
  src/monitor/util.ts
  src/server/controllers/BaseController.ts
  src/server/controllers/FileController.ts
  src/server/controllers/TestArtifactsController.ts
  src/server/controllers/VerificationController-util.ts
  src/server/controllers/VerificationController.ts
  src/server/middlewares/NotFoundError.ts
  test/server.js
Due: run-build-monitor, run-build-server, run-build-core, run-build-verification, run-build-validation

add vscode settings to format on save
  .vscode/settings.json
  ui/.vscode/settings.json
Due: run-build-ui

Replace zip lib, fix missing MIME type on Windows (#801)
  .vscode/launch.json
  services/validation/package-lock.json
  services/validation/package.json
  services/validation/src/ValidationService.ts
  services/validation/src/index.ts
  services/validation/test/ValidationService.js
  services/validation/test/expected-output/truffle-example-correct.txt
  services/validation/test/expected-output/truffle-example-missing-source.txt
  services/validation/test/index.js
  src/server/controllers/VerificationController.ts
  ui/src/pages/Verifier/FileUpload.tsx
  ui/src/pages/Verifier/index.tsx
Due: run-build-server, run-build-validation, run-build-ui

Clean repository of unused code
  .gitmodules
  environments/.env.dev
  environments/.env.testing
  environments/build-localchain.yaml
  environments/ipfs-monitoring.yaml
  environments/monitor-monitoring.yaml
  environments/rabbitmq.yaml
  environments/repository-monitoring.yaml
  environments/s3-monitoring.yaml
  environments/server-monitoring.yaml
  environments/ui-draft-monitoring.yaml
  environments/ui-monitoring.yaml
  package.json
  scripts/chain_name_to_id_mapper.sh
  scripts/clear-repo.sh
  scripts/convert_repository_to_format_0_1.sh
  scripts/localchain.js
  scripts/prepare.sh
  scripts/setup.sh
  scripts/test_new_chain_support.sh
  services/core/package.json
  services/geth/config.toml
  services/geth/goerli-genesis.json
  services/validation/package.json
  services/verification/package.json
  src/Dockerfile.localchain
  src/cli/sourcify.ts
Due: run-build-core, run-build-verification, run-build-validation

Remove localchain
  .vscode/launch.json
  environments/.env.latest
  environments/.env.stable
  package.json
  scripts/setup.sh
  services/core/src/utils/utils.ts
  services/verification/README.md
  src/config.ts
  src/server/server.ts
  test/monitor.js
  test/server.js
Due: run-build-server, run-build-core, run-build-verification

Path conditions:
  run-build-ipfs: any of: services/ipfs/.*
  run-build-s3: any of: services/s3sync/.*
  run-build-repository: any of: h5ai-nginx
  run-build-monitor: any of: src/monitor/.*
  run-build-server: any of: src/server/.*
  run-build-core: any of: services/core/.*
  run-build-verification: any of: services/verification/.*
  run-build-validation: any of: services/validation/.*
  run-build-ui: any of: ui/.*
  run-build-ui-legacy: any of: ui-legacy/.*
